[2018-11-28 05:20] JustFly1984 opened #1 "For collaborators: There is currently only several main components refactored to new React APIs"
You can start with any of components which is commented out in `index..js` file

You need to run `npm run watch` in root, and `npm start` in `/examples/react-google-map-api-gatsby/` to run example page. Please add new examples only in `/examples/react-google-map-api-gatsby/src/pages/index.js` file. I'm planning to add documentation in the same gatsby example.

[2018-12-01 13:45] uriklar opened #9 "Add MarkerClusterer support to Marker"

[2018-12-01 13:45] uriklar opened #10 "Allow InfowWindow anchor to be a <Marker/> component"
Right now supports only position property

[2018-12-11 17:40] uriklar opened #16 "LoadScript onLoad callback should be called only if defined"

[2018-12-11 21:58] JustFly1984 commented on #16
nice catch) fixed

[2018-12-13 06:54] #16 closed

[2018-12-14 07:10] #1 closed

[2018-12-14 07:22] uriklar opened #18 "Contributors are welcome!"
Hi everyone,
We'd love to get your code contributions! We have a slack channel that is currently on an invite basis. Leave a note here if you want to join.

There are some components that need to be revised from their old (react-google-maps) implementation, to our new implementation. For an examples of such a conversion, see [this commit](https://github.com/JustFly1984/react-google-maps-api/commit

[2018-12-15 14:38] xalisys commented on #18
Hi @uriklar , I am working on another fork of react-google-maps, but since you guys already started this one, i would like to contribute instead of perusing my own fork. I am working on project which uses react-google-maps, and i faced some issues for which i had to override some behaviors in some of the components.
- OverlayView
- Workaound (fix) for Google Maps Memory Leak mentioned in [here](ht

[2018-12-15 16:03] urikphytech commented on #18
Hi @xalisys, we'd be happy to add you code. I saw your fork, but didn't see the commits you mentioned. Can you send me a link?

[2018-12-15 16:09] uriklar commented on #18
Hi @xalisys, we'd be happy to add you code. I saw your fork, but didn't see the commits you mentioned. Can you send me a link?

And a PR to fix the windows build would be greatly appreciated!

[2018-12-15 22:11] xalisys commented on #18
@uriklar thanks for quick response, the code i mentioned is in my project where i override the react-google-maps, components. I'll create separate PRs for things aforementioned.

thanks.

[2018-12-17 13:06] gregoryfm commented on #18
Hi @uriklar
I'm willing to help. Can you add me in slack group to guide me for where to start?

[2018-12-17 13:07] gregoryfm commented on #18
Hi @uriklar
I'm willing to help.
Can you add me in the slack group to let me know where to start?

[2018-12-17 15:12] uriklar commented on #18
Hi @gregoryfm! Send me the email of your slack account and i'll send you an invite. (You can also mail me at uriklar@gmail.com if you prefer)

[2018-12-18 02:40] gregoryfm commented on #18
I sent you an email

[2019-01-16 13:55] thescarymelon opened #28 "Provide ESM module also."
The package.json module field points to a bundled commonjs format output. The module field in package.json is not an NPM officially supported field but is supported by Webpack so we can consume an ESM format and get the benefits of treeshaking.

I'm more than happy to put in a PR to change your build set up so the output of the dist folder is not bundled and is also in the ESM format. I should hav

[2019-01-16 22:51] cdakin1 opened #29 "regeneratorRuntime is not defined"
Hi, just migrating over here from `react-google-maps`.

I tried recreating the example in the [demo](https://react-google-maps-api.netlify.com/) but I'm unable to get past an `regeneratorRuntime is not defined` error that breaks the application.

I thought maybe it had something to do with the application I'm running it in, but I also could not get the example working in a [code sandbox](https://c

[2019-01-17 02:20] JustFly1984 commented on #29
@cdakin1 we are using gatsby.js as example, it has built-in babel.
Please refer to https://github.com/gatsbyjs/gatsby/tree/master/packages/babel-preset-gatsby

[2019-01-17 06:49] uriklar commented on #29
So if I understand correctly this means the lib currently doesn't work with babel 6? Sounds like something we should support. From some short googling it looks like adding: https://babeljs.io/docs/en/6.26.3/babel-plugin-transform-runtime could do the trick.
@cdakin1 do you want to give it a try?

[2019-01-17 16:53] cdakin1 commented on #29
I'm using the latest gatsby.js which includes babel @7.2 and it's still broken.

[2019-01-17 17:56] anton-nagornyi commented on #29
Please try to
npm install @babel/plugin-transform-runtime --save-dev

[2019-01-18 01:16] JustFly1984 commented on #29
Ok, I've got this error, working on it right now.

[2019-01-18 06:39] JustFly1984 commented on #29
@cdakin1 Actually you need to use `babel-polyfill` to fix your issue.

[2019-01-18 08:13] JustFly1984 opened #30 "refactor and adopt google-maps-infobox into main package and create <InfoBox /> component"
https://github.com/lucasfs7/google-maps-infobox-module

[2019-01-18 08:15] JustFly1984 commented on #30
https://github.com/tomchentw/react-google-maps/blob/master/src/components/addons/InfoBox.jsx

[2019-01-18 10:31] cukas commented on #9
Is there already a date known when the cluster support will be released?

[2019-01-18 15:55] cdakin1 commented on #29
Okay so I tried all the fixes above but none of them were working. I knew they SHOULD be though, those were definitely the things I was missing, which lead me to believe they weren't being utilized despite being included in the project.

Since gatsby.js already includes all the @babel stuff I needed I removed all the manually added @babel libraries and did this instead:

![image](https://user-imag

[2019-01-18 22:06] JustFly1984 commented on #29
@cdakin1 Ok, I got it, you just need to conditionally check for typeof document, you do not need to provide `@babel/polyfill` for node.

[code]

You need to import `@babel/polyfill` only in dev

There is no document, window or google objects in node stage, so you can't render `react-google-maps-api` with SSR or statically. I would advise you to set the height of container, so layout do not jump in

[2019-01-18 22:10] JustFly1984 commented on #29
@cdakin1
minimal code for gatsby.browser.js
[code]

[2019-01-19 20:49] JustFly1984 commented on #9
@cukas We are a community driven open source, we do not have a schedule. Your PR is welcome.

[2019-01-22 16:20] #29 closed

[2019-01-24 13:51] annapopova1 opened #33 "Can't use StandaloneSearchBox"
Hi all.
I want to migrate code from react-google-maps to the newest react-google-maps-api (1.0.8) but can't do it because can't replace StandaloneSearchBox usage.
My code is:
[code]

With this code I got the exception like this:
[code]

How can I use StandaloneSearchBox? Or there is a real issue for it?

[2019-01-24 13:54] AndyOGo opened #34 "documentation does not show all components"
Missing `<Marker>`, etc. at

https://react-google-maps-api.netlify.com/

[2019-01-24 14:14] uriklar commented on #33
Hi Anna,
I'm looking over the code for StandaloneSearchBox and i see that it indeed misses some implementation.
There should be some kind of containerElement.

If you'd like to try and fix the component i'd be happy to guide you to the right direction.
The solution might look something like this.
Add to StandaloneSearchBox:
[code]

And then where ever it says this.props.containerElement, change it

[2019-01-24 14:16] uriklar commented on #34
Hi @AndyOGo, if you'd like to contribute, adding to the documentation is an easy win!
You have plenty of existing examples to copy from.
We'd love your contribution.

[2019-01-30 13:19] JustFly1984 commented on #34
@AndyOGo we do not have sponsors, and all of us working on this project for using it in our own or company websites. Maintainers, contributors, new examples and documentation are welcome.

[2019-01-30 14:03] annapopova1 commented on #33
Hi Uri, thank you for the response. But unfortunately, I don't have time to contribute and fix it.

[2019-01-30 14:16] AndyOGo commented on #34
@JustFly1984
Thanks for your answer.
Sure, I can imagine this.
As I said I really appreciate your voluntary effort 👍

It's just not that easy to start contributing.

[2019-01-30 15:03] JustFly1984 commented on #34
@AndyOGo You can run `react-google-maps-api-gatsby-example`, and add examples as you need. There is a plenty examples already.

[2019-01-31 07:45] FredyC commented on #18
As I already mentioned somewhere else ... I would like to contribute, however seeing this project is almost dead already, I don't feel like it's worth the time. Did everyone get so busy suddenly to let this die?

[2019-01-31 08:04] uriklar commented on #18
Hi @FredyC, Why do you say it's dead?
I think the lib has reached an MVP state and from now on it will grow to wherever people will have the need and the time to make it grow.

As Alexey mentioned in several places, we use this lib for our personal and company's projects, so our work on it is focused on those needs. But we will gladly help anyone who wants to contribute and will surely put in some

[2019-01-31 13:12] uriklar commented on #29
@cdakin1 when using the latest lib version (@react-google-maps/api v1.0.3) your codesandbox works.
Can you try updating?

[2019-01-31 13:38] FredyC opened #37 "TypeScript"
So in #18 you have a TypeScript mentioned in the roadmap, but what it actually means for you? In my experience, it's just a bad idea to have typings made manually. It always gets desynchronized. What is your opinion on that?

Besides, when I saw there is a Babel Polyfill requirement, I got real goosebumps. Haven't seen that for a while. I certainly don't want to enlarge app bundle with this monstr

[2019-01-31 13:43] uriklar commented on #37
Hi @FredyC
Regarding the babel requirement. I just did some checking up on that and it seems that this is resolved in the latest version (@react-google-maps/api v1.0.3). I just want to verify it with a couple more people before removing it from the docs.

Regarding Typescript. I guess this issue is a good place to talk about the plan. I personally use Typescript heavily in my projects and would ju

[2019-01-31 13:56] uriklar commented on #18
First of all, for the best of my knowledge react-google-maps doesn't have any tests either.
This is a project at the beginning of it's path. We made it public so we can start gathering react-google-map users and show them there's a home for their map needs if they wish to come and help build it.

I know that some components are missing, but, did you look at the code? It's so easy to just pick a co

[2019-01-31 14:42] FredyC commented on #18
Fair enough, there are a few basic tests, but probably not that useful.

I did not. Honestly, seeing JS code base just gives me shivers as it means that touching anything can break stuff fairly easily (especially with no tests). Unless the decision for TypeScript happens, I don't think I will be able to contribute.

[2019-01-31 14:47] uriklar commented on #18
We haven't used hooks in this project as they haven't been released yet. Once they're released this whole lib might as well be shrunk into a single hook :-)
You can see a (non-working) POC here: https://github.com/JustFly1984/react-google-maps-api/blob/master/packages/react-google-maps-api/src/utils/use-map-component.js

If you feel like making a PR to kick off the Typescript migration effort I wi

[2019-01-31 16:59] MiguelGPereira opened #38 "Map reference not defined"
Hello! When I try to use the functions binded to the map reference, I get an internal error that "google map is not defined".
[code]
However, if I skip to the next loop in the event loop using a setTimeout, it works:
[code]
codesandbox demo: https://codesandbox.io/embed/1y7xqo7453

Should this be the default behaviour? Let me know if there's anything I can help :)

[2019-01-31 17:04] JustFly1984 commented on #38
@MiguelGPereira  instead of using ref, you need to use onLoad prop callback as in this example:

https://github.com/JustFly1984/react-google-maps-api/blob/master/packages/react-google-maps-api-gatsby-example/src/examples/data-example.js

[2019-01-31 17:20] MiguelGPereira commented on #38
Ah, alright! I just migrated from the old react-google-maps to yours, and that ref pattern was working before. Thank you very much for your fast response, it's working.

[2019-01-31 17:20] #38 closed

[2019-01-31 18:03] JustFly1984 commented on #38
I think we should add this to migration guide

[2019-01-31 19:36] JustFly1984 commented on #37
@uriklar If you can rewrite whole lib to typescript, I wouldn't mind)

[2019-01-31 19:42] FredyC commented on #37
Ok, I may dive into that next week in theory.

Do you have some experience with mixing propTypes and TypeScript? In our apps, we are using TS only. For a lib, it definitely makes sense to have both as JS consumers would be left out in the wind. There surely must be some effective way how to cover this without duplicating it for both worlds.

[2019-02-01 02:14] JustFly1984 commented on #33
@annapopova1 there is new @react-google-maps/api@1.0.8 version with StandaloneSearchBox included. please update. https://react-google-maps-api-docs.netlify.com/src-standalone-search-box
https://react-google-maps-api-gatsby-demo.netlify.com

[2019-02-01 02:35] JustFly1984 commented on #37
@FredyC @uriklar  I've extracted propTypes to single separate file, so it could be used to transform to types declarations.

[2019-02-01 02:38] JustFly1984 commented on #34
I've updated documentation:
https://react-google-maps-api-gatsby-demo.netlify.com/
https://react-google-maps-api-docs.netlify.com/

[2019-02-01 02:42] JustFly1984 commented on #29
@cdakin1 please update to latest version @react-google-maps/api@1.0.8

[2019-02-01 06:12] FredyC commented on #37
@JustFly1984 Do you have some tool for that? I was trying to look for one but wasn't lucky.

[2019-02-01 17:31] JustFly1984 commented on #28
@thescarymelon I think it is tree shakable as it is, but if you want to add one more directory with mjs files, I think it is ok.

[2019-02-01 19:12] JustFly1984 commented on #37
@FredyC something like this? https://react-etc.net/entry/automatic-react-proptypes-to-typescript-conversion

[2019-02-01 19:30] JustFly1984 commented on #37
@FredyC I do not know any tool to convert propTypes to typescript. I've just gother all proptypes in single file, co it could be useful to create types 1 to 1.

[2019-02-01 21:36] uriklar commented on #37
I think we can pretty much base all our typings on:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/googlemaps/index.d.ts

With a bit of extending. I've started working on a POC. I'll link the branch here when it's ready

[2019-02-01 23:29] uriklar opened #40 "RFC: Remove all updater functions that are included in object's options"
Currently each component has an `updaterMap` which is an object mapping react props to the function that updates that prop on the google maps instance. Here, for example, is the ```updaterMap``` object for Circle:

[code]

The thing is, each of these functions is superseded by the setOptions function.  I.E:
`circle.setCenter(center)` is the equivalent of `circle.setOptions({center})`

Removing all

[2019-02-02 00:06] JustFly1984 commented on #40
@uriklar I do not really need those separate options. If you remove them, we will totally branch out of original `react-google-maps` without any backward compatibility. I'm personally don't care much. single prop is better than many.

On other side passing an object to the prop is bad for performance. If you pass options object generated in runtime, it is bad for performance anyway. So less props,

[2019-02-02 08:49] uriklar commented on #40
Good points! I actually think backwards compatibility with react-google-maps is pretty crucial if we want people to be able to migrate easily. And also the performance point is a good one.

I think those two are good enough points to drop this proposal.. We'll have a one time effort to write the type annotations correctly and then it will be behind us.

[2019-02-02 22:14] uriklar commented on #37
Pushed https://github.com/JustFly1984/react-google-maps-api/compare/typescript

Right now it's a POC using the google maps types. Works nicely with the Circle component. Now just need to refactor all remaining components and define their interfaces

[2019-02-03 17:18] AndyOGo commented on #34
@JustFly1984
Thanks for your help.

May I missunderstood the purpose of the docs.
I assumed to have explanations of the api complementary to examples, also I saw storybook, and it has awesome knobs feature and describing stories.

Whats is your plan regarding the docs, just examples or a more story based approach?

[2019-02-04 00:52] JustFly1984 commented on #40
Looks good!

[2019-02-04 21:10] uriklar commented on #37
@FredyC I created a PR for the Typescript re-write. I'd be happy if you could review it:
https://github.com/JustFly1984/react-google-maps-api/pull/41

[2019-02-04 21:11] uriklar opened #42 "Typescript eslint dependencies/no-unresolved warning"
After migrating to typescript there is an eslint warning of unresolved dependencies for all imports

[2019-02-04 21:15] uriklar opened #43 "restoreInstance should copy mapContainerStyle to new container"
Currently when a new container is created, the styles are lost. We need to find a way to apply the styles passed as an object to the component to the created html element

[2019-02-04 22:48] JustFly1984 opened #44 "storybook streetview example doesn't work"
For those who is concern.

[2019-02-04 23:38] JustFly1984 commented on #34
@AndyOGo
I have a plan to make @react-google-maps/create-react-app-example pretty much copying @react-google-maps/gatsby-example

Also I'm pretty sure we need to add jest tests. I think we need end-to-end tests, cos unit tests are useless without DOM

[2019-02-04 23:38] JustFly1984 commented on #34
@uriklar ^

[2019-02-04 23:40] JustFly1984 commented on #34
I can add jest to gatsby example in separate branch `jest` and we can start to add tests.

[2019-02-04 23:52] JustFly1984 commented on #42
you can turn 'off' rules in `.eslintrc.js` in package

[2019-02-05 03:14] JustFly1984 commented on #40
can we close this issue?

[2019-02-05 03:16] #33 closed

[2019-02-05 03:19] JustFly1984 commented on #40
reopen if needed

[2019-02-05 03:19] #40 closed

[2019-02-05 05:19] JustFly1984 commented on #42
https://github.com/alexgorbatchev/eslint-import-resolver-typescript/commit/af4444181008fcc205c183adccd1352c19a9503d

[2019-02-05 20:21] uriklar opened #45 "Make docz PropsTable component work with typescript components"

[2019-02-10 05:00] #45 closed

[2019-02-11 15:49] mpgon opened #47 "Error (Uncaught exception) when unmounting Map"
# Please provide an explanation
Sometimes the subscriptions are not correctly canceled during the Map component unmount. This is causing occasional crashes in our E2E tests. When Lazy Loading the map with Suspense, the problem is considerably exacerbated, ence I reproduce it that way in this codesandbox: https://codesandbox.io/s/1y7xqo7453

## Your Environment
in codesandbox

## How does it behave

[2019-02-11 16:08] MiguelGPereira commented on #47
**UPDATE**: I managed to reproduce this problem without lazy loading, so it might not be solely related to that. However, lazy loading makes this problem easier to reproduce, without lazy loading is considerably harder. I'll update the title and the description accordingly.

[2019-02-11 16:11] uriklar commented on #47
Hi @MiguelGPereira. Thanks a lot for the super detailed bug report.
I'll look into it in the next couple of days

[2019-02-11 22:42] JustFly1984 commented on #47
@MiguelGPereira please check new @1.0.10 version. It should resolve your error.

[2019-02-11 22:48] JustFly1984 commented on #47
@MiguelGPereira I've tested your codesandbox example, and it seems there is no issue

[2019-02-12 10:19] MiguelGPereira commented on #47
@JustFly1984 I updated to the new version but the problem still occurs, although it looks harder to reproduce. But even in the codesandbox w/@1.0.10 it still happens, try a few times clicking fast between Refresh and Map OFF, and you'll see the `Warning: Can't perform a React state update on an unmounted component in LoadScript` in the console. You might want to add an API_KEY to the const in "map

[2019-02-15 17:41] buzzguy opened #48 "Add support for mapElement and containerElement"
# Please provide an explanation
A google map is rendered nested inside an empty div. I'm trying to use a sticky class, but the div is preventing that. Could this be refactored as a fragment or allow for declaring the element with a classname or id? thanks!

[2019-02-15 18:34] JustFly1984 commented on #48
@buzzguy This empty div comes from `<LoadScript />` component. All `<GoogleMap />` components should be children of LoadScript. If you know `redux` - `<LoadScript /> is like a `<Provider />`, which provides google maps api <script /> for all maps used in your React app by Context API.

You can place <LoadScript /> somewhere higher in your component structure, where it does not affect your css layo

[2019-02-15 20:21] JustFly1984 commented on #48
BTW I failed an issue in google maps bug tracker for supporting proper cleanup in their script. Please add your concern in their tracker https://issuetracker.google.com/issues/121054556

[2019-02-15 22:32] #48 closed

[2019-02-16 15:41] JustFly1984 commented on #42
@uriklar can we close this issue?

[2019-02-16 15:45] uriklar commented on #42
I tried playing around with these different settings last night but didn't manage to get to that golden setup yet... I think the current configuration in the typescript branch is ok except for these warnings.
I think we can leave it open for a bit longer

[2019-02-16 19:18] buzzguy opened #49 "Reference Map object from outside the GoogleMap component"
Thanks for the quick response to my last issue.

I'm able to control the map object from within the onLoad function, but I wanted to have an airbnb like effect of hovering over a place card which would trigger a panTo that marker on the map and perhaps a toggle of an infowindow.

would you know the best way of doing that?

thanks

[2019-02-16 19:22] uriklar commented on #49
Hi @buzzguy. You say you have the map object from onLoad, why not save it somewhere (class variable for instance) and then you'll be able to control it whenever you wish?

[2019-02-16 21:09] FredyC commented on #49
It might easier and more robust to use a Context for that purpose. Perhaps even on the side of the library, it would make sense except it could be `undefined` till loaded, but that should be fine.

[2019-02-16 21:17] uriklar commented on #49
We use context to pass the map down to it's children, but @buzzguy is talking about accessing the map from the parent that renders it

[2019-02-17 04:08] buzzguy commented on #49
@uriklar  Hi, I do have the map object that exists within the onLoad.
The hierarchy of the components is basically:
- Page
    - List of places component
	    - place item
    - Map Component
	    - markers

So if I want to give place item scope to the map object inside of Map Component, I should save it as a class variable? Would you have an example?

I have the map object from within the onLoad

[2019-02-17 06:58] uriklar commented on #49
First of all, this question isn't really react-google-maps-api related.. Second, I can try and help, but i'd have to see some code. Can you link a codesanbox with what you're trying to do?
In general, once you get the map from onLoad you can save it wherever you want, be it a class variable, state, context...

[2019-02-17 15:18] #43 closed

[2019-02-17 18:58] buzzguy commented on #49
@uriklar right on, you're right. I figured it out. I just set this.map = map in the callBack. thanks!

[2019-02-17 19:55] #49 closed

[2019-02-28 02:40] JustFly1984 opened #52 "Add new SVG logo to docs"

[2019-02-28 07:12] #37 closed

[2019-02-28 07:12] #42 closed

[2019-02-28 07:34] FredyC commented on #37
@uriklar Thank you for such an amazing pile of work. I got rather swamped with other stuff, so I was unable to watch it through.

[2019-03-01 10:27] grdpr commented on #10
Hi, I'm trying to make a Circle marker with a InfoWindow popup. Any documentation or example about it? Many thanks in advance

[2019-03-01 12:09] uriklar commented on #10
Hi @grdpr,
Something like this? https://codesandbox.io/s/2vx96zljk0
You can give the marker a circle icon using the icon property, or even use an actual circle instead

[2019-03-01 12:36] grdpr commented on #10
Thanks @uriklar! I'll give a try to render a list of markers with this InfoWindow and also with OverlayView to feel the difference. OverlayView isn't include in the API from GoogleMaps right?

[2019-03-01 12:40] uriklar commented on #9
Hi @cukas. MarkerClusterer support was merged to master and will be released as v1.1.1 today or tomorrow. We'd love your feedback if you want to try it out using the master branch. Maybe you can find some last minute bugs ;-)

[2019-03-01 12:40] #9 closed

[2019-03-01 12:42] uriklar commented on #10
Included indeed: https://developers.google.com/maps/documentation/javascript/reference/overlay-view#OverlayView
Take note that you don't need to handle the onAdd, onDraw etc... callbacks. We handle them for you.

[2019-03-01 13:08] grdpr commented on #10
Thanks for all this work!
I'm struggling by testing many react-google-map-package.
Is there any onClick event possible on the <GoogleMap /> wrapper to listen for a click?

[2019-03-01 15:01] uriklar commented on #10
Not sure what you mean by "wrapper" but almost every component exposes an onClick event handler

[2019-03-01 18:26] MassivDash opened #55 "Documentation lacks styled Maps"
Hello, great job on this module.

However I have spent like an hour finding out how can I style these maps.
Maybe you should include a little section that explains how to style these maps.

For anyone searching this :
prepare json file with mapStyles, and attach it to Google Maps like this.

<GoogleMap
    id="basic-map-example"
    mapContainerStyle={{
      height: "400px",
      width: "100%"

[2019-03-01 19:01] uriklar commented on #55
Hi @MassivDash,
Thanks for the feedback.
I think what needs to be emphasised is that react-google-maps-api is a very simple binding between the react and the google maps api.

If you (or anyone else reading this) find yourself asking: How do I do this with react-google-maps-api
You should be asking yourself: How do I do this with google maps. The answer is usually well documented in:
https://devel

[2019-03-01 19:45] #55 closed

[2019-03-01 19:52] uriklar commented on #30
With OverlayView, why does anyone really need an InfoBox?

[2019-03-02 04:33] JustFly1984 commented on #30
@uriklar I have no idea, I think we can safely remove it.
What do you think about removing all dependencies?

[2019-03-04 14:21] grdpr commented on #10
@uriklar the onClick event handler works well on the map!
But I'm still struggling to render multiple markers with InfoWindow. When I open one infoWindow, all infoWindow are opening.

[2019-03-04 14:23] urikphytech commented on #10
Do you want to share a codesandbox?
I wouldn't create multiple info windows. I'd create one info window and pass it the props depending on the selected marker (I.E - the marker's position and any info related to the selected marker you want to show)

[2019-03-04 14:28] grdpr commented on #10
here it is: https://codesandbox.io/s/l2jn4xm9yl

[2019-03-04 15:25] grdpr opened #56 "Circle shape"
Hi,
Are there any options to render the Circle Component more rounded? I seems to me not totally a perfect circle. Any borderRadius possible to override the radius option?
Thanks!

[2019-03-04 15:42] uriklar commented on #56
Hi @grdpr
Issues isn't the place for these questions... Please join [our slack channel](https://join.slack.com/t/react-google-maps-api/shared_invite/enQtNTQ4NzU4NDY5ODc4LTYwZTRhNWU1ODcxMDM0ZjAwODRlZmQzNDkyYjk4YjZhMzNhZmFjYmM1MTE4YTM1OTgyYjVhZjE0NGYwNDE2NTU) and you'll probably find help there.

regarding your question, google maps draws the circle and it can't be edited with css.

[2019-03-04 15:42] #56 closed

[2019-03-07 12:45] robations opened #57 "Should @types/googlemaps be in dependencies?"
## Your Environment

(other details unlikely to be relevant)

@react-google-maps/api version = 1.1.0

## How is it behave?

In the exported Typescript definitions we have an old-fashioned reference comment, such as:

[code]
(from `@react-google-maps/api/lib/components/drawing/Marker.d.ts`)

and further down the same file we have references to the Google Maps types:

[code]

The reference is to `@t

[2019-03-07 13:00] uriklar commented on #57
Hi @robations,
What IDE support are you missing? I just created a create-react-app and it looks like i'm getting TS support correctly

![image](https://user-images.githubusercontent.com/2545447/53958420-afa69b80-40e9-11e9-8d37-d2d5bec7e3ef.png)

Also, which IDE are you using?

[2019-03-07 13:04] robations commented on #57
I'm using PHPStorm, and the `google.maps.xyz` references are underlined as undefined/unknown.

When I install `@types/googlemaps` the reference works okay. The package works (as far as I have tested), it's more of a developer experience or documentation issue.

(Thanks for the quick reply, and for the package/maintenance.)

[2019-03-07 13:08] robations commented on #57
Is that VSCode? If `@types/googlemaps` is only in devDependencies (therefore not installed for consumers) how does it know what the "googlemaps" reference is referring to? 🤔

Perhaps VSCode parses the `package.json` files under `node_modules/` and installs types separately?

[2019-03-07 13:10] uriklar commented on #57
Ok yeah I just got what you mean :-) You aren't seeing the googlemaps types.
DX was a big consideration behind the Typescript re-write so this is definitely worth the extra few kbs IMHO.. Either that or a clear message in the docs saying you need to install it.
@JustFly1984 what do you think?

Without ```@types/googlemaps``` in the dependencies it basically means you could write:
```<Marker option

[2019-03-07 13:12] uriklar commented on #57
Yeah it's VSCode, but it only recognises our lib's types, not the googlemaps types. As I wrote in the previous comment.

[2019-03-07 13:13] robations commented on #57
That's it. There's a general discussion of this issue here:

https://stackoverflow.com/questions/45176661/how-do-i-decide-whether-types-goes-into-dependencies-or-devdependencies

I don't think it would be included in the build package, just would mean consumers would install the extra package (whether or not they use Typescript, although JS users would benefit if the IDE understands the types).

[2019-03-07 13:27] uriklar commented on #57
Yeah, sounds like a no brainer... The @types/googlemaps lib is basically this library's documentation :-)
Wanna create a PR?

[2019-03-07 13:40] robations commented on #57
Done! Unless I missed something.

[2019-03-07 14:43] #57 closed

[2019-03-11 17:28] kasinskas opened #59 "Circle does not work"
## Environment

os: mac

node --version - v10.13.0

react version - 16.7.0

webpack version - 4.23.1

@babel version - 7.1.2

@react-google-maps/api version - ^1.1.0

## How does it behave?

I copied exact same example of a map with a circle from docs and map works fine, but circle doesn't even appear.

[2019-03-11 19:00] uriklar commented on #59
Please provide code on better yet a codesandbox

[2019-03-13 21:16] daniel17903 opened #60 "StandaloneSearchBox rendering problems"
I am unable to get google maps rendering correctly when using the StandaloneSearchBox example code.

My code looks like this:
[code]

And the map is rendering like this:
![image](https://user-images.githubusercontent.com/9028156/54314503-23f6a880-45dc-11e9-9128-9ac38d85abfb.png)

How can i get rid of these grey areas?

## Environment
os: windows
node --version: v8.12.0
react version: 16.8.4
webpac

[2019-03-13 22:59] uriklar commented on #60
Are these grey areas constantly there? It looks a bit like tiles not loading due to connection problems

[2019-03-14 09:57] daniel17903 commented on #60
Yes, they are there constantly. I can move the map around, zoom in or out but there are always grey areas. When looking in the chrome devtools I can not see any failed or pending network requests.

![image](https://user-images.githubusercontent.com/9028156/54347706-cc8e2200-4647-11e9-85f2-8154c2316925.png)

![image](https://user-images.githubusercontent.com/9028156/54347723-da43a780-4647-11e9-835d

[2019-03-14 16:01] Lepozepo opened #61 "LoadScript would benefit from being a Fragment"
https://github.com/JustFly1984/react-google-maps-api/blob/dfadcfc19b451de819185dbb5e6dd62cc976ff3a/packages/react-google-maps-api/src/LoadScript.tsx#L200

[2019-03-14 16:22] FredyC commented on #61
You cannot attach ref to fragment ;)

[2019-03-14 16:34] #59 closed

[2019-03-14 18:27] Lepozepo commented on #61
Ah, I see, well regardless that `div` is a pain to deal with. You could do something like this instead maybe without having to refactor too much:

[code]

[2019-03-14 18:32] Lepozepo commented on #61
Considering it's only being used for [clean up](https://github.com/JustFly1984/react-google-maps-api/blob/dfadcfc19b451de819185dbb5e6dd62cc976ff3a/packages/react-google-maps-api/src/LoadScript.tsx#L88) though, I think you can get rid of the ref and just check for the globally scoped variable that it adds instead? `if (window.google) delete window.google`, I'm still getting familiar with this repo,

[2019-03-16 05:27] uriklar commented on #60
Hi @daniel17903,
I've tried putting your example in codesandbox and I don't get these grey bars.
Can you try editing this example: https://codesandbox.io/s/lxkw25j65q (or creating your own) that manages to re-create the issue?
Maybe you have some additional elements, css not included in your example code?

[2019-03-16 08:34] daniel17903 commented on #60
While trying to re-create the issue I found the problem. I had some css included by another component that destroyed google maps:

[code]

Thanks for your help

[2019-03-16 08:34] #60 closed

[2019-03-19 05:40] michaelsync commented on #10
@grdpr  https://codesandbox.io/s/l2jn4xm9yl returns 404.

[2019-03-19 07:18] kevinresol opened #62 "UMD dist"
Any plan to provide a UMD build to be used without bundling (e.g. load from CDN)?

[2019-03-19 09:27] guins opened #64 "@types/markerclustererplus/index.d.ts is not a module."
I wanted to try out the new release @1.2.0-alpha.0, but I'm getting an error during compilation : `@types/markerclustererplus/index.d.ts is not a module.` in `lib/components/drawing/Marker.d.ts`
How can I fix that ?

[2019-03-19 12:07] guins commented on #9
@uriklar I can't get it to work with the master branch as it's missing the `package.json` file, according to npm install error. I would be happy to give you some feedback if I can implement the marker clusterer !

[2019-03-19 12:11] guins commented on #64
By looking at the master branch commits, I just realized you apparently patch a few things regarding the markerclusterer, but you didn't publish a new version for npm. I would be happy to try out this new release !

[2019-03-19 12:23] uriklar commented on #64
Hi @guins .
I don't have publishing rights to npm so you'll either have to wait until @JustFly1984 wakes up or grab the current master branch which should work

[2019-03-19 13:08] DoubleChamp opened #65 "Error 404. A Gatsby App including examples are not there"
NPM Page: https://www.npmjs.com/package/@react-google-maps/api
Link: https://github.com/JustFly1984/react-google-maps-api/tree/master/examples/react-google-maps-api-gatsby/src/examples

[2019-03-20 16:31] guins commented on #64
Thanks @uriklar !
Since @JustFly1984 didn't published it yet, what's the correct way to use the master branch to test it out ? I tried to install the package directly from github `npm install --save https://github.com/JustFly1984/react-google-maps-api/tree/master/packages/react-google-maps-api` but it doesn't work. I'm getting the following error: `npm can't find a package.json file in your curren

[2019-03-21 14:31] JustFly1984 commented on #64
@uriklar @guins I'm not really sure why it fails, it does work for docs, but it fails on gatsby-example deploy. I'm currently reqriting google's markerclustererplus to typescript and will include it as part of the lib. I'm thinking to make it as separate module, cos it has Apache.2.0 license. Our ouwn lib is living with MIT license, so that is a problem. We can't include code with Apache 2.0 into

[2019-03-21 14:43] JustFly1984 commented on #65
https://github.com/JustFly1984/react-google-maps-api/tree/master/packages/react-google-maps-api-gatsby-example/src/examples

[2019-03-25 08:33] oscarhou opened #68 "Can't resolve markerclustererplus"
Hi all,
I'm trying to use the module and have installed according the instruction on the docs but am currently getting this error:

./node_modules/@react-google-maps/api/lib/components/addons/MarkerClusterer.js
Module not found: Can't resolve 'markerclustererplus'

It doesn't quite seem to be the same issue as #64 though. Any help would be great thanks

[2019-03-25 08:45] uriklar commented on #68
@oscarhou what version are you using? The stable version right now is 1.1.0 (without MarkerClusterer support)
We're working on releasing a stable 1.2.0-alpha

[2019-03-25 09:30] oscarhou commented on #68
Ah that makes sense I was using 1.2.0 alpha, I shall try the stable version

[2019-03-26 03:40] JustFly1984 commented on #68
@oscarhou please try alpha 4, soon will be alpha 5

[2019-03-26 03:40] #68 closed

[2019-03-26 03:41] JustFly1984 commented on #64
@guins please try alpha 4, soon will be alpha 5

[2019-03-26 03:41] #64 closed

[2019-03-26 03:42] #65 closed

[2019-03-26 03:44] JustFly1984 commented on #61
We can't really make it happen. I think we can add optional className property to LoadScript, until there is better solution. Does somebody have something against that?

[2019-03-26 09:11] uriklar commented on #61
@JustFly1984 are you sure this wouldn't work? I think we need to try it out...

[2019-03-26 22:46] JustFly1984 commented on #61
I was blind an now I see) I've pushed commit alpha5 branch, it will be there to test tomorrow

[2019-03-27 00:27] JustFly1984 commented on #65
fixed link in alpha5 branch, tomorrow will publish new version 1.2.0

[2019-03-27 06:04] oscarhou opened #70 "Calling LoadScript in multiple components"
What's the proper way to be able to load the API using LoadScript in different components?
I'm getting the following error when redirecting to different Routes using react-router.
`google api is already presented`

[2019-03-27 08:44] FredyC commented on #61
I am confused right now. What is the actual problem with that div and what does that fragment solve? I haven't honestly tried this lib yet, so I am just curious.

[2019-03-27 08:48] uriklar commented on #61
The problem is that in order to load the google maps script we currently use a wrapper div. The reason for the div is so we can assign a ref on it (to be used later in the cleanup function). I'm not sure the cleanup solution here is the best solution and if we even need this ref, but right now this is the way it works.

The problem is that this unnecessary div might interfere with a user's html st

[2019-03-28 08:16] JustFly1984 commented on #70
You can't and should not call 2 <LoadScript /> components at the same time, although, you can use as many <GoogleMap /> components inside of <LoadScript /> as you need. This is due to google-maps-api limitations. For example you just can't run 2 maps with different languages, cos google-maps script could be loaded one at the time.

[2019-03-28 08:27] JustFly1984 commented on #62
@kevinresol We are working on typescript refactoring and version 1.2.0 right now. Will definitely come back to your PR later.

[2019-03-28 08:29] JustFly1984 commented on #62
@kevinresol  If you can PR some setup how to auto-deploy to some free CDN on post-publish hook, it will be useful.

[2019-03-28 08:30] kevinresol commented on #62
If you publish the umd output to npm, it would automatically be available on unpkg.com

[2019-03-28 15:27] JustFly1984 commented on #62
@kevinresol Thank you, I will make umd next week

[2019-03-28 16:04] JustFly1984 commented on #70
@oscarhou
There should be only one single LoadScript component in react-dom tree at the same time, although you can use as many GoogleMap components as you need (or performance allows). You can see our demo https://react-google-maps-api-gatsby-demo.netlify.com/ with implementation details source code in repo

[2019-03-28 16:04] #70 closed

[2019-03-28 16:08] JustFly1984 commented on #61
Ok, currently last alpha has this fragment fix, so I'm closing an issue. Fix will be included to 1.2.0

[2019-03-28 16:08] #61 closed

[2019-03-31 14:18] renchap opened #73 "MouseEvent types are incorrect"
# Please provide an explanation
`onClick` (and other mouse event handlers) `e` argument type is currently `MouseEvent` but should be `google.maps.MouseEvent`

## Your Environment
@react-google-maps/api version: 1.2.0-alpha.8

## How is it behave?
Currently if you define your own `onClick` handler and check the `e` argument, it is a `MouseEvent` from Google Maps SDK, not a browser `MouseEvent`.

Fo

[2019-03-31 14:40] renchap opened #75 "onXXXChanged are called once when loading the map"
## Your Environment
@react-google-maps/api version: 1.2.0-alpha6

## How is it behave?
I defined `onCenterChanged`, `onZoomChanged` and `onMapTypeIdChanged` on my `GoogleMap` component, and the 3 callbacks are called once when the map is loaded.

Simple repro:
[code]

This breaks my app as I need to query the google map object in those callbacks (set using `onLoad`), and it is not yet set when the

[2019-03-31 14:51] renchap commented on #75
My bad, it looks like this is caused by my code which is somehow triggering an option/position/zoom change on load.

[2019-03-31 14:58] #75 closed

[2019-03-31 16:51] JustFly1984 commented on #75
@renchap Glad your issue is resolved

[2019-03-31 17:09] JustFly1984 commented on #73
I've fixed types to google.maps.MouseEvent and published alpha.9. Thank you for your findings, keep up!

[2019-03-31 17:09] #73 closed

[2019-04-01 01:41] JustFly1984 commented on #18
@FredyC We have done refactor to typescript, if you have time can you please review?

[2019-04-01 05:37] michaelsync opened #76 "Deadlink in yarn package description"
'See the [docs](https://github.com/JustFly1984/react-google-maps-api/tree/master/src/docs) folder' from this page https://yarnpkg.com/en/package/@react-google-maps/api is linking to https://github.com/JustFly1984/react-google-maps-api/tree/master/src/docs which returns 404.

[2019-04-01 05:55] michaelsync opened #77 "StandaloneSearchBox"
I am trying to use the StandaloneSearchBox as below.

`import { LoadScript, GoogleMap, InfoWindow, Marker, StandaloneSearchBox  } from '@react-google-maps/api'
`
[code]

I am getting this error.

![image](https://user-images.githubusercontent.com/192911/55305549-4c175000-5494-11e9-8daa-5341e4dd014a.png)

## Environment

{
  "name": "react-map-sample",
  "version": "0.1.0",
  "private": true,
  "de

[2019-04-01 06:02] uriklar commented on #77
![image](https://user-images.githubusercontent.com/2545447/55306339-9086f980-545c-11e9-914e-28ae74c51aa4.png)
Well, did you? :-)

You need to include the places library when loading the script as so:
[code]

[2019-04-01 06:02] #77 closed

[2019-04-01 07:21] FredyC commented on #18
@JustFly1984 It's definitely on my todo list. Lately, more and more issues are coming from the abandoned maps project, so there is a hoping it will improve with this one.

[2019-04-01 23:44] michaelsync commented on #77
Thanks.  I missed out that part.

The auto-complete doesn't work tho. What permission do I need to enable? Geolocation?

This API project is not authorized to use this API. Please ensure this API is activated in the Google Developers Console: https://console.developers.google.com/apis/api/places_backend?project=_ For more information on authentication and Google Maps JavaScript API services please

[2019-04-02 00:30] michaelsync commented on #77
Thanks, uriklar.

[2019-04-03 01:34] jamesmosier commented on #30
I believe that InfoBox provides an easy way to have a popover style element that can have propagation stopped on it. This is useful for popovers that allow for user interaction.

I also personally think the options are much simpler for this use case versus trying to do all the same things with an OverlayView. For example here are some options i am using with react-google-maps and the popover:

[co

[2019-04-03 04:06] kevinresol opened #79 "Event handlers firing twice"
With the following code the onRectangleComplete callback is fired twice. This also happens on other onComplete callbacks too.

[code]

## Environment

os: mac

node --version = v8.15.1

react version = 16.8.6

webpack version = 4.8.3

@babel version = 7.4.3

@react-google-maps/api version = 1.2.0-alpha.11

## How is it behave?

`onRectangleComplete` will be printed twice after drawing a rectangle.

[2019-04-03 11:29] uriklar commented on #79
@kevinresol Thanks for this huge bug report! This wasn't even related to DrawingManager, but to each and every event callback. Opened a PR that should be released as 1.2.0-alpha.12 later today

[2019-04-04 09:30] uriklar commented on #62
We can use https://github.com/mobxjs/mobx-state-tree/tree/master/packages as a good reference

[2019-04-04 13:59] GleidsonDaniel opened #84 "StandaloneSearchBox tutorial not working"
Hi, I'm just trying to implement the component.

I tried recreating the example in the demo but I'm unable to get any response.

I thought maybe it had something to do with the application I'm running it in, but I also could not get the example working in a code sandbox.

`Uncaught TypeError: _this3.searchBox.getPlaces is not a function`

![Screenshot_1](https://user-images.githubusercontent.com/1

[2019-04-04 14:06] uriklar commented on #84
Hi @GleidsonDaniel. There's an open PR that updates the example to a working example.
Until version 1.2.0-alpha14 is released, please use 1.2.0-alpha11 and change ref to be ```onLoad```

onLoad accepts a function that is called with the searchBox instance once it's loaded. You can then call getPlaces on that instance

[2019-04-04 20:23] uriklar commented on #84
Please try latest version (example has been updated as well)

[2019-04-04 20:23] #84 closed

[2019-04-06 08:23] uriklar commented on #79
@kevinresol Fixed in 1.2.0-alpha.14

[2019-04-07 17:24] #76 closed

[2019-04-07 18:58] JustFly1984 commented on #18
@FredyC We have published @1.2.0 with full typescript support.

[2019-04-07 19:32] JustFly1984 commented on #9
@guins I have cloned marker-clusterer-plus as @react-google-maps/marker-clusterer@1.2.0, and it is a dependency of @react-google-maps/api@1.2.0

We have published new docs, demo and examples

[2019-04-08 02:52] tdotholla commented on #10
how do we pass the anchor `Marker` object from an `onHover`?
seems like we can only populate some state or store with `onLoad`

[2019-04-08 03:05] Kiel-H-Byrne opened #86 "infowindows fire twice, one blank"
# Please provide an explanation
i am trying to load an `InfoWindow` `onMouseOver` of a `Marker`. the `<InfoWindow>` component is a child of `<GoogleMap>`. when I hover over the marker, i get an InfoWindow. when i leave the marker, a smaller, empty infowindow still appears (it loaded behind the first one, which dissapeared `onMouseExit`) They stack up on every hover, and i have to manually "x" them

[2019-04-08 08:26] uriklar commented on #86
Hi @tdotholla! Thanks for the bug report. Could you please provide a codesandbox reproduction?
Thanks

[2019-04-08 08:27] uriklar commented on #10
@tdotholla I didn't quite understand what you're asking

[2019-04-08 18:39] tdotholla commented on #86
Yes please see here: https://codesandbox.io/s/813npr9yo2

[2019-04-08 20:03] uriklar commented on #86
Thanks. I'll check it out tomorrow

[2019-04-09 12:35] uriklar commented on #86
@tdotholla I created a PR with the fix and we we'll publish 1.2.1 sometime later today. Thanks

[2019-04-09 12:51] tdotholla commented on #86
That was fast! I appreciate it! Great work also

[2019-04-09 17:08] JustFly1984 commented on #86
@tdotholla I've published 1.2.1 version, please test.

[2019-04-10 20:28] FredyC commented on #18
Thank you for all the hard work. Tried to integrate into a project today and it was surprisingly easy to migrate. Not that it's some heavy map usage app, mostly just a couple of `OverlayView`, but 😍

I got a few pointers.

* Export component props interfaces, it's super helpful when wrapping into other component and spreading props
* Export MapContext or even better a `useGoogleMap` hook for acces

[2019-04-10 20:58] uriklar commented on #18
Hi @FredyC,
Thanks so much for the feedback! Sounds like pretty straight forward stuff. We should remove any non mandatory LoadScript props as mandatory.
I'm not sure I understand the use case for useGoogleMap though. The onLoad lets you access (and cache if needed) an instance of that specific component. useGoogleMap would only give you access to the map instance.

While you're here :-) I actuall

[2019-04-10 21:20] FredyC commented on #18
I need access to the `map` instance for panning purposes and often do that within components which are deeper in the tree. So the hook comes in really handy for that.

Regarding your typescript a problem I am not sure really, but I am using `moduleResolution: "node"` pretty much everywhere. The other option is `classic` which is [legacy anyway](https://www.typescriptlang.org/docs/handbook/module-r

[2019-04-11 08:21] JustFly1984 commented on #18
@FredyC Thank you for improvements, I will publish new version tomorrow

[2019-04-11 08:22] JustFly1984 commented on #18
@FredyC Please add yourself to contributors list in /package/react-google-maps-api/package.json

[2019-04-11 08:45] JustFly1984 commented on #18
@FredyC can you please provide an example of useGoogleMap hook for docs and for gatsby-example?

[2019-04-11 08:51] FredyC commented on #18
There is no list in that file :) Doesn't matter, it would be too hidden anyway, so I don't care.

Ok, hopefully by tomorrow I will able to stitch something together.

[2019-04-11 16:36] tdotholla commented on #86
This works ppuuurrrrfectly now. Thank yoU!

[2019-04-11 16:38] tdotholla commented on #10
No problem. it was explained better by @FredyC here (https://github.com/JustFly1984/react-google-maps-api/issues/18#issuecomment-481849486)

I think also you guys implemented his suggestions or pull requests... so i can hop off of this thread.
I didn't realized i may have hijacked it a bit.

Also i don't use "anchor" parameter and my infowindow is nested outside or Marker tags... not sure if that

[2019-04-12 00:11] michaelsync opened #94 "Anchor should not be required in InfoWindow"
# Please provide an explanation

I just upgraded the @react-google-maps/api package (^1.2.2) . The anchor property is the required property for InfoWindow now. My working infowindows code doesn't work after the upgrade. I fixed it by setting anchor={null}  but the InfoWindows is not visible anymore.

I am looking for an example. The official example (https://react-google-maps-api-docs.netlify.com/

[2019-04-12 00:20] michaelsync commented on #94
I got this example: https://codesandbox.io/s/9oqw8vqnro?fontsize=14

I upgraded the @react-google-maps/api package to 1.2.2. The code doesn't use 'anchor' and no error.

But in my project, I got this error.

![image](https://user-images.githubusercontent.com/192911/56003977-8f7f8300-5d0c-11e9-88ca-4f42eb26fda2.png)

[2019-04-12 01:03] michaelsync opened #95 "How to get the target from onClick event?"
Hi, As of now, the onClick event is google.maps.MouseEvent. `onClick?: (e: google.maps.MouseEvent) => void;`. How do I get the market object in that click event?

Lets say I have a code as below. I created the list of marker dynamically from the list.

[code]

- OS: Windows
- "@react-google-maps/api": "1.2.1",
- Node: v10.15.1
- "react": "^16.8.4",
- "react-bootstrap": "^1.0.0-beta.6",
- "react-do

[2019-04-12 01:46] michaelsync opened #96 "Duplicate identifier 'LibraryManagedAttributes'."
**Version: 1.2.1' or '1.2.0'**

I got this error 'Duplicate identifier 'LibraryManagedAttributes'. when I run the application after installing 1.2.1 package or 1.2.0 package.

seems like there is an issue with type/react version issue. How do I solve this?

Similiar issue?: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/33822

- OS: Windows
- Node: v10.15.1
- "react": "^16.8.4",
- "reac

[2019-04-12 02:23] michaelsync commented on #18
@FredyC @JustFly1984  Did you guys make 'anchor' property mandatory? It's breaking my code.

I got the code like that. I don't need to pass the `anchor`. Now, the `anchor` is mandatory. I tried 'anchor={null}' but it doesn't work. https://github.com/JustFly1984/react-google-maps-api/issues/94

[code]

[2019-04-12 05:58] uriklar commented on #95
@michaelsync You currently can't get the instance from an onClick event. Can you please explain why you need the marker on click? Maybe I can help you find the correct way of doing what you're trying to do

[2019-04-12 05:59] uriklar commented on #94
I deleted your comment from the Contributors are welcome issue. No need for duplication. This issue is enough

[2019-04-12 06:06] michaelsync commented on #94
Thanks, @uriklar .

I am stuck with this issue in 1.2.1 and duplicate identifier issue in 1.2.1 or 1.2.0.

I found a weird rendering issue in 1.1.1.

I am really stuck at this moment.

[2019-04-12 06:10] uriklar commented on #94
Yeah 1.1.1 has some issues. I'm working on fixing everything now, but in the meantime, it looks like you Typescript config is validating 3rd party libraries as well. Maybe you can try excluding node_modules in your tsconfig?
There's no real bug here, just typescript errors. I don't think ts errors from a 3rd party should be failing your build

[2019-04-12 06:14] michaelsync commented on #95
@uriklar The reason is that I need to show the InfoWindows when a user clicks on the marker. I have the sample code in this post https://github.com/JustFly1984/react-google-maps-api/issues/94 ..  Now, the anchor property of InfoWindows is the required property so I guess I need to pass the instance of Marker to the anchor property.

[2019-04-12 06:49] uriklar commented on #95
I'm looking at the code in #94 but I don't understand why you'd need the Marker instance on click. You've already enclosed it in the onClick callback. Your code should be working. Your only problem right now is the typescript error.
Anchor is not required, that was a mistake that will be fixed in 1.2.3. You can pass the position property and that's good enough (though passing the marker as an anch

[2019-04-12 06:49] #95 closed

[2019-04-12 09:36] michaelsync commented on #95
@uriklar Thanks. Do you think you can release 1.2.3 with fixes soon? LIke Saturday. I've spent almost 1 and half day to debug the issue with 1.1.1 and then release it is working with 1.2.2 but not working with typescript. I tested 1.2.0 and 1.2.1.

[2019-04-12 09:40] michaelsync commented on #94
@uriklar

Here is my typescript config. I created my project based on this one https://github.com/Microsoft/TypeScript-React-Starter. It is already excluded the node_module in ts.config. but I am still getting the error. Can you know if I need to change something in tsconfig or somwhere.

[code]

Here is my tslint.json.

[code]

If you can release the new version with fixes on yarn today or tomorr

[2019-04-12 11:13] uriklar commented on #94
Hi @michaelsync,
@JustFly1984 will release it probably sometime later today.

In the meantime you can build it yourself from the develop branch:
[code]

Then take the resulting ```lib``` folder and paste it inside your project:
```node_modules/@react-google-maps/api```

[2019-04-12 16:04] #96 closed

[2019-04-12 16:17] JustFly1984 commented on #10
published 1.2.3-alpha.1

[2019-04-12 19:16] JustFly1984 commented on #10
@tdotholla please test

[2019-04-12 23:14] michaelsync commented on #94
Hi @uriklar

Thank you. I just upgraded to `1.2.3-alpha.1` but am still having the typescript issue.

I think you have fixed the anchor issue in this file /src/components/drawing/InfoWindow.tsx.

but haven't updated the **lib\components\drawing\InfoWindow.d.ts**.

I have forked the repo but I can't find this type file `InfoWindow.d.ts`.

[2019-04-12 23:36] uriklar commented on #94
The Typescript error has to do with  conflicting versions of @types/react.
After upgrading to 1.2.3 try deleting node modules and yarn.lock (or npm lock file) and reinstalling. That should do the trick

[2019-04-13 00:18] michaelsync commented on #94
@uriklar

I tried that but it didn't work. I don't think it's about @types/react. How does '..node_modules\**@react-google-maps\api\lib\components\drawing\InfoWindow.d.ts**' get generated or updated? I know you updated '/src/components/drawing/InfoWindow.tsx' but not `lib\components\drawing\InfoWindow.d.ts`

![image](https://user-images.githubusercontent.com/192911/56071928-3af40a80-5dd5-11e9-8e1a

[2019-04-13 03:09] uriklar commented on #94
Hi @michaelsync, you're right. Something got screwed up when publishing. Both in InfoWindow and in the @types dependency issue :-/
We'll get it sorted out.

[2019-04-13 05:01] michaelsync commented on #94
@uriklar Thank you. Hope to get the release very soon.

I can't manually put and copy the output to node_modules manually because we build the code on CI before the deployment. We excluded the whole node_modules folder from git.

[2019-04-13 06:53] ssongj opened #103 "how to getBounds() onLoad()"
# Please provide an explanation
How can we use getBounds() when the map is loaded?
Currently I have tried
[code]

but it prints undefined

## Your Environment

os: mac

node --version: v11.14.0

react version: 16.8.6

webpack version: 4.30.0

@babel version: 7.1.6

@react-google-maps/api version: 1.2.3-alpha.1

## How is it behave?
It returns `undefined` for .getBounds() method.
## How should it b

[2019-04-13 06:59] ssongj commented on #103
resolved by saving map object during `onLoad` and referencing the object again in `onIdle`

[2019-04-13 06:59] #103 closed

[2019-04-13 10:38] michaelsync commented on #94
@uriklar any update, guys?

if the release with fix is not going to happen this week, please suggest me an alternative. I don't think I will get enough time to change the whole control to something else? I can manually build and fix it myself and put the output in a different folder (not in node_modules which I excluded it in git) and use it  ?

[2019-04-13 13:03] uriklar commented on #94
Hi. @JustFly1984 has publishing access so you'll have to wait for him to be online. I'm sure it will be sometime today though (at least in my timezone 😀)

In the meantime you can build the package manually (from the branch of the currently open PR) as i suggested and either:
1. publish it on npm temporarily
2. Push it to git ane point npm there
3. Find out how to point npm at a package inside a Le

[2019-04-13 20:49] JustFly1984 commented on #94
@michaelsync
I've published 1.2.3-alpha.3

[2019-04-13 22:14] michaelsync commented on #94
@uriklar @JustFly1984  Thanks, guys. I managed to upgrade the package and run the project. I will do some regression testings to see any side-effect after the upgrade.

Thanks again, guys! You guys are awesome.

[2019-04-14 03:45] #94 closed

[2019-04-15 10:11] michaelsync opened #105 "No getplaces in StandaloneSearchBox"
Hi,

I am trying to use the SearchBox feature. I am following this example https://github.com/JustFly1984/react-google-maps-api/blob/df89a4b0a48fc085e30ac3c60c8b62bacd84e72b/packages/react-google-maps-api/src/components/places/StandaloneSearchBox.md.

I have the code below. But I am getting this error ` Property 'getPlaces' does not exist on type 'StandaloneSearchBox'.`.

`const searchBox = React.

[2019-04-15 10:15] uriklar commented on #105
That's not exactly what the example does. The example uses the onLoad property. We don't support the ref property. You can set your ref in the onLoad callback

[2019-04-15 10:19] #105 closed

[2019-04-15 10:38] michaelsync commented on #105
For those who are searching for the same issue.

Here is the code that works with Typescript. I can't use the code from example.

`const [searchBox, setSearchBox] = React.useState<google.maps.places.SearchBox>({} as google.maps.places.SearchBox);`

[code]
[code]

[2019-04-15 11:01] michaelsync opened #106 "how to use map.fitBounds?"
Hi,

Is there any similar feature like map.fitBounds?

I am trying to follow this example to make the StandaloneSearchBox work like this example
https://developers.google.com/maps/documentation/javascript/examples/places-searchbox

I managed to get it until the onPlacesChanged event.

Here is what I have so far. but I think I need to set the bound of the Map instead of SearchBox's bound. It would

[2019-04-15 11:12] uriklar commented on #105
Thanks for the example. I agree the fact that the example uses a class instance variable is a bit misleading. onLoad indeed can't be used with React.useRef since the resulting google maps instance isn't a dom node.
Maybe we shouldn't call the variable ref, that way it's more clear

[2019-04-15 11:19] uriklar commented on #106
Depends what you want to do. Setting the bounds on a search box using ```searchBox.setBounds()``` will make sure it's results are only from the defined bounds. Setting bounds on a map will set the map's viewport to those bounds. If you have the map instance cached somewhere handy you can use that, otherwise you can use the newly added ```useGoogleMap``` custom hook that provides you with the map i

[2019-04-15 11:19] #106 closed

[2019-04-15 12:30] michaelsync commented on #106
@uriklar Thanks. Any example to use useGoogleMap?

[2019-04-16 07:45] mathieu-anderson commented on #18
Hello! We have started using this library for the implementation at my workplace (well, mostly me). As I understand it from perusing the issues, it looks like it's the case for most contributors.

I don't know yet if i will have the ability to contribute anything meaningful (still pretty junior0, but I certainly would like to try.

And I am wondering if it would be desirable, on top of the private

[2019-04-16 07:52] FredyC commented on #18
I would kinda vote for Spectrum as well. Personally, I already have too many Slacks and want to limit that. Spectrum at least does not force to you have a separate set of credentials for each community. Although I don't exactly adore that platform just yet, it's still under heavy development and sometimes wonky. But it's a good alternative. The Gitter is useful for quick chatting too, but no separ

[2019-04-16 07:53] uriklar commented on #18
Hi @mathieu-anderson.
Our Issues are indeed getting filled with usage questions.
Spectrum sounds like a great idea! It has the visibility that slack lacks and it is more specific the regular stackoverflow.

Here's a link to our newly created community: https://spectrum.chat/react-google-maps

Maybe your first PR could be adding it to the docs? :-)

[2019-04-16 09:26] mathieu-anderson commented on #18
Lightning fast reaction time @uriklar ! I posted the first question on Spectrum!

And yes, I might look at adding to the docs! What's the process to make PRs to the project?

[2019-04-18 08:40] cukas commented on #9
Now I had time to test the clusters, it works fine only if you load the data via an API, several markers jump out of the cluster. As soon as you move the card they are correct in the cluster again.

[2019-04-24 11:27] matheusgrieger opened #107 "Marker Clusterer required props"
# Please provide an explanation

## Your Environment

os: mac

node --version: v10.15.0

react version: 16.8.3

webpack version: 4.28.3

@babel version: 7.2.2

@react-google-maps/api version: 1.2.3

## How is it behave?

![image](https://user-images.githubusercontent.com/6992464/56655872-54fdda80-666a-11e9-8929-95e18876aeec.png)

When using `MarkerClusterer` with props `style`, `averageCenter`, `e

[2019-04-24 17:02] #107 closed

[2019-04-24 17:10] JustFly1984 commented on #107
Published 1.2.3-alpha.5

[2019-04-29 17:50] hswope-arcweb commented on #10
Is this still open? There are error messages (infoWindow.tsx line 79) that indicate the component is expected to be rendered inside a Marker, but it doesn't look like the code is there to do this yet???

[2019-04-30 01:23] JustFly1984 commented on #10
@uriklar please look at this issue, I have no time today

[2019-05-01 04:34] uriklar commented on #10
@hswope-arcweb The error message on line 79 is only triggered if there's no anchor **or** position property defined. There currently is anchor support, but it's not very usable. It requires you to pass in a google Marker object (as opposed to a <Marker/> component which would be a much nicer behaviour)

Instead of using an anchor, i'd go with the approach detailed in this sandbox:
https://codesand

[2019-05-01 06:06] JustFly1984 opened #110 "CodeSandbox examples with descriptions."
A lot of people like to share code at codesandbox.io.

It could be nice to have some place to keep easy updated list of examples. I propose to keep this issue pinned on top, so everybody could share their examples, and we will update top comment time to time.

That is a first one, provided by @uriklar. Can you please add description?

- https://codesandbox.io/s/x200klrl5w

[2019-05-01 06:09] JustFly1984 commented on #52
I have added logo to spectrum community. Currently svg and png logo you can find here: https://github.com/JustFly1984/react-google-maps-api/tree/master/packages/react-google-maps-api-gatsby-example/src/img

[2019-05-01 06:10] JustFly1984 commented on #52
Also we need to make favicons for docs and gatsby example

[2019-05-01 07:38] robin-chilliapple opened #111 "How to traverse a car on map by longitude and latitude data?"
I want to traverse a car on the map. I am receiving data from API in 10 seconds interval. The data format is:

I want to create a path from source to destination and traverse a car on the created route by these data. Could you please provide me some example of code for it or some guidance and resources? It would be great for me thanks in advance.

I want to create like this: http://www.geocodezip.

[2019-05-01 07:46] JustFly1984 commented on #52
I've added favicon to gatsby example, and wrote an issue with question how to add favicon to react-docgen-typescript https://github.com/styleguidist/react-docgen-typescript/issues/184

[2019-05-01 07:52] uriklar commented on #111
Please use Spectrum for usage questions:
https://spectrum.chat/react-google-maps

[2019-05-01 07:52] #111 closed

[2019-05-01 13:34] hswope commented on #10
@uriklar Thanks for the reply. That makes sense. I ended up going with an OverlayView for my implementation anyway, which had its own challenges associating (visually) with a marker. If time allows, I was thinking of adding some functionality to the OverlayView component and putting in a PR. In general, I like this library. Although new, it is tight and clean. Thanks for your work.

[2019-05-01 16:37] JustFly1984 commented on #10
@hswope You are welcome!

[2019-05-05 16:16] rrfaria opened #113 "How to Test Components"
I'm using old version 9.4.5 and looking for this one to upgrade

but before upgrade to this, I'm looking for well tested apis
and no one describe how to test components using this

I've created this component but I don't know row to test it with jest

Could you create a session on documentation about how to test components ?

[code]

[2019-05-06 13:20] shawnmitchell opened #114 "Can onCenterChanged pass new center to callback?"
# onCenterChanged behavior seems odd (to me)
GoogleMap defines `onCenterChanged` prop which takes a callback in the form of `() => void`
It seems like maybe this callback should be of the form `({lat, lng}) => void` or am I thinking about this the wrong way?

[2019-05-06 19:17] uriklar commented on #114
Hi @shawnmitchell,
You can use our Spectrum channel next time for these type of questions (https://spectrum.chat/react-google-maps)

I agree giving the new center would have been nice of them :-) But since this is an event on the map component you can get the center by using ```map.getCenter()``` (The map instance can be retrieved by either the ```onLoad``` method or the ```useGoogleMap``` hook)

[2019-05-06 19:17] #114 closed

[2019-05-06 19:19] shawnmitchell commented on #114
Thanks!

[2019-05-07 07:07] monkeysuffrage opened #115 "ReferenceError: google is not defined"
I keep getting this message when I run sample code I find here.
Can someone point out what I'm missing?

ReferenceError: google is not defined
App
  37 | <DrawingManager
  38 | 	options={{
  39 | 		drawingControlOptions: {

  41 | 				google.maps.drawing.OverlayType.RECTANGLE,
  42 | 			]
  43 | 		}

[2019-05-07 10:12] JustFly1984 commented on #115
Basically you are rendering a component before google-maps script loaded, or at SSR or static site generator, therefore google object is not available yet or at all. You need to render <DrawingManager /> component only if `typeof document !== 'undefined'` , or use string value instead of google.maps.drawing.OverlayType.RECTANGLE

[2019-05-07 10:14] uriklar commented on #115
Does this happen in codesandbox or in local dev env?

[2019-05-07 15:51] nwaughachukwuma opened #116 "How to detect when an API KEY is missing"
Hi @JustFly1984 and everyone, is there a way or an event I can hook into to know when API key is not present?

I want to be able to raise a modal in App as warning/info asking the users to enter their API key to use the App.

Thanks.

[2019-05-07 17:13] xalisys opened #117 "Map instance Persistence is broken, UI breaks when useSameInstance is set to true"
# Please provide an explanation
This is change in rendering mechanism for map div element as compared to old react-google-maps api which use to render two divs for map i.e. container-div & map-div. but this new @react-google-maps/api, only render one div, which is breaking instance persistence mechanism in Single Page Applications (SPAs). The Google map component has "useSameInstance" flag which i

[2019-05-07 17:14] seansheds opened #118 "LoadScript error when unmounting"
I have a view that loads the map and that works fine, but when I switch to another view that unmounts the map I'm getting the following error that crashes the app. This is urgent and if I can't get it resolved I won't be able to use this google map component. Thanks!

react.production.min.js:145 TypeError: Cannot read property 'includes' of undefined
    at filter (LoadScript.js:249)
    at Array.

[2019-05-07 17:16] seansheds commented on #118
It fails on line marked line. ---->>>

Array.prototype.slice.call(document.getElementsByTagName("link")).filter(function filter(link) {
        link.href === "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans";
      }).forEach(function forEach(link) {
        if (link.parentNode) {
          link.parentNode.removeChild(link);
        }
      });
      Array.prototype.slic

[2019-05-07 18:42] xalisys commented on #118
@seansheds  can you provide little more details, or some minimal reproducible repo?

[2019-05-07 18:48] JustFly1984 commented on #118
@yes, minimal reproduction would be helpful. On other hand it signals to me that you have empty <style/> tag somewhere in your html/jsx.
I think that is a main reason in your codebase, you can fix yourself by removing empty <style tag, or make it non empty.

You can console.log the style object, before an error line to see exact style tag causing an issue.

[2019-05-07 18:59] uriklar commented on #116
Where are the users entering their api key in your app? Can't you just check it there?

[2019-05-07 19:22] seansheds commented on #118
I can't post code because of client restrictions.

This is a large codebase and I did find some of the style tags don't have in innerText property. I can't clean all these up because they are in shared components.

Changing the line to the following resolves it, but it doesn't help when npm install is run on the server.

return style.innerText && style.innerText.includes(".gm-");

[2019-05-07 20:16] JustFly1984 commented on #118
@seansheds ok, wait, I'm publishing new version with bug fix

[2019-05-07 20:17] seansheds commented on #118
Awesome! Thanks!!

[2019-05-07 20:23] #118 closed

[2019-05-07 20:39] JustFly1984 commented on #118
I have published 1.2.3-alpha.9, please test

[2019-05-07 20:40] JustFly1984 commented on #30
So what is the status on this issue? can we close it, or leave it be?

[2019-05-07 20:43] seansheds commented on #118
Tested. Thanks!

[2019-05-07 22:00] JustFly1984 commented on #117
@xalisys  Can you please provide a minimal example at codesandbox or error stack trace?

[2019-05-08 14:22] JustFly1984 commented on #113
Basically, you can test @react-google-maps components only with end-to-end with headless browsers, kind of tests, due to requirement to load the script. You can't write jest unit tests, nor snapshots, cos most of components does not return JSX, and those which return JSX will not work without `google-maps-api` script, loaded by <LoadScript /> component with correct API key.

[2019-05-08 14:45] JustFly1984 commented on #117
in 9.4.5 you could have a single map component per GoogleMap instance, now you can have as many as you need. mapContainer was part of <script> loading. I had to get rid of it to simplify architecture according new functionality. Please make a PR, and I will merge it and publish new version ASAP.

[2019-05-08 14:49] JustFly1984 commented on #117
in 9.4.5 this container element was part of script loading algorithm, but now we externalized it to <LoadScript /> component due to change in architecture to support multiple <GoogleMap /> instances as children to <LoadScript /> component. Please make a PR according new JSX structure.

[2019-05-08 20:21] JustFly1984 opened #122 "Create E2E tests with cypress against dev docs, and run it before each commit."
Currently we have no tests implemented at all.
We have Typescript, Eslint, docs generation and gatsby.js example

We can't use dom based tests with node.js environment, cos we need to have window.google global object created by google-maps-api script, loaded in runtime by <LoadScript /> component.

We need to run headless browser tests with cypress against dev docs build before each commit with hu

[2019-05-08 20:23] JustFly1984 commented on #122
There is a gatsby-cypress-plugin, which we can leverage for testing gatsby-example

[2019-05-08 21:18] xalisys commented on #117
@JustFly1984  react-google-maps had two props (mapElement,containerElement) for map element to render these two divs, but the new map one don't have such option instead it accepts mapContainerStyle prop, which is applied to map div internally. I originally developed, "reUseSameInstance" feature here, which rely on the virtue of having two dives.

Here is the code which is causing the issue.
src/ut

[2019-05-09 03:08] JustFly1984 commented on #117
published alpha.11

[2019-05-09 06:40] Rennzie opened #125 "[Feature Request] Make the context available in the API to allow access to additional libraries like 'geometry' from other components"
# Please provide an explanation

It would be useful if we could access the google object from a useContext hook. I think this would mean that we can then access additional libraries like geometry

## Your Environment

os: mac

node10.15.1

react version 16.8.6

webpack version (using create react app)

@babel version (again using create react app)

@react-google-maps/api version 1.2.3-alpha.9

##

[2019-05-09 11:04] JustFly1984 commented on #125
You can get access google object from `window.google` at the same time after onLoad callback is fired. There is single `google` object per browser tab instance anyway, but there is unique `map` element for each `<GoogleMap />` component.
The context's `map` object is an instance of the google.maps,Map class, not just the reference.

[2019-05-09 11:13] JustFly1984 commented on #117
@xalisys please confirm the bug is fixed and close an issue if it does.

[2019-05-09 12:18] xalisys commented on #117
issue is fixed in updated version, closing this bug.

[2019-05-10 04:49] Rennzie commented on #125
Ok thanks @JustFly1984  thats clear now.  So the best way would be to access if from `window.google` when I need it?

I would be keen to contribute but I'm pretty new to open source and development in general. Maybe I can help with the docs? Do you have any pointers or suggestions?

[2019-05-10 06:40] Rennzie opened #126 "[drawing manager] [type error] Type 'string' is not assignable to type 'OverlayType' error with TS project"
# Please provide an explanation

 I am getting a `Type 'string' is not assignable to type 'OverlayType'.` error in my typescript project when I am using the drawing manager.

## Your Environment

os: mac

node --version
10.15.1
react version
16.8

@react-google-maps/api version
latest

## How is it behave?
The problem appears to point the the OverlayType, which from as far as I can tell does inclu

[2019-05-10 07:30] JustFly1984 commented on #122
We could use puppeteer https://www.youtube.com/watch?v=MbnATLCuKI4

[2019-05-10 07:42] JustFly1984 commented on #126
Have you tried lowercase 'polygon' string as it is required by google maps api reference?

[code]

[2019-05-10 07:56] JustFly1984 commented on #126
PS

If you just ```console.log(google.maps.drawing.OverlayType.POLYGON)``` in browser console, you'll get returned value as lowercase `'polygon'` string

[2019-05-10 07:56] #126 closed

[2019-05-10 08:06] JustFly1984 commented on #125
@Rennzie We do have docs auto-generated from md files by `react-styleguidist` and `react-docgen-typescript`, you can fork the repo, and run `yarn docs:dev` in `./packages/react-google/maps/api`

Docs require some attention to details.

You can make new git branch in your forked repo, and make a Pull Request with changelog description.

If you are keen to join as maintainer, we have slack channel a

[2019-05-10 08:06] #125 closed

[2019-05-10 08:07] JustFly1984 commented on #117
@xalisys  Is it still fails?

[2019-05-10 08:08] JustFly1984 commented on #115
you can substitute `google.maps.drawing.OverlayType.RECTANGLE` with lowercase `'rectangle'` string BTW

[2019-05-10 08:08] #115 closed

[2019-05-10 08:25] Rennzie commented on #126
Thanks, I can work with that.

[2019-05-10 19:47] xalisys commented on #117
@JustFly1984, it fixed the UI part, but failing on functionality after restoring instance, there is more to it, there is essentially  problem map rendering, i am investigating, will create another PR if needed.

[2019-05-10 22:35] JustFly1984 commented on #117
It is sad that google-maps-api is not open-source itself.

[2019-05-12 00:12] JustFly1984 commented on #30
update?

[2019-05-12 01:38] jamesmosier commented on #30
I’m not currently working on it, so feel free to close it if you’d like.

[2019-05-12 05:09] #30 closed

[2019-05-13 04:44] Rennzie commented on #125
ok thank @JustFly1984. I've never contributed on a project or used Typscript so would need some guiding. I am keen though.

[2019-05-13 06:10] shobishani commented on #18
HI @uriklar
I'm not sure if you should have asked this question here are hooks implemented in this library I need to access map Instance for some reasons in deep down tree.

[2019-05-13 06:14] uriklar commented on #18
Hi @shobishani,
It's better you ask usage questions in our [spectrum channel](https://spectrum.chat/react-google-maps)
We recently added the ```useGoogleMap``` hook that will return the map instasnce from anywhere in the tree. After successfully using it you can create a PR to add it to the documentation :-)

[2019-05-13 06:15] uriklar commented on #125
Hi @Rennzie!
This is a pretty easy project to contribute to. Feel free to join out [slack channel ](https://join.slack.com/t/react-google-maps-api/shared_invite/enQtNTk2ODk3OTQ2OTYyLWU2ZGMyMjI1ZDQ4NmE3MjRmNGRjYjBjOGEzMTVjMTQyMGYwNzVmMTRkZDAwNzEwZGNkNGNhODBiMWM3ZDUyYTk) where i'd be happy to assist with getting you started with contributing

[2019-05-13 06:23] shobishani commented on #18
@uriklar  Thanks.. sure will submit PR

[2019-05-13 18:10] Rennzie commented on #125
Thanks @uriklar I'll do that.

[2019-05-18 02:19] regulyarniy opened #127 "GoogleMap inside iframe issues"
## Your Environment

any environment\codesandbox

react version 16.8.6

@react-google-maps/api version 1.2.3-alpha.11

## How is it behave?

Hello! First, thx for nice library, you are doing big work here

If GoogleMap is nested inside iframe it don't get styles(all controls are hidden because no styles) and dragging not working

Example: https://codesandbox.io/s/googlemap-inside-iframe-issues-bbd

[2019-05-18 11:43] JustFly1984 commented on #127
@regulyarniy I had no time to dig deep, but I think your issue somewhere with `react-frame-component` you are using, cos looking at your  DOM tree of iframe in sandbox - there is an <img /> tag instead of inner iframe.

<img width="1885" alt="Screenshot 2019-05-18 14 39 51" src="https://user-images.githubusercontent.com/2255993/57969083-30500680-797b-11e9-81a6-a8a56300924f.png">
<img width="1883"

[2019-05-18 11:50] JustFly1984 commented on #116
It is not a bug in `@react-google-maps/api`, but architecture issue of underlying  `google-maps-api and google cloud in general` Either your key is valid, either not. anyway you will get an error message to the console if it is broken, and gray screen with error message instead of the map

[2019-05-18 11:52] JustFly1984 opened #128 "Add a section in Readme.md with list of websites using our library."

[2019-05-18 12:00] nwaughachukwuma commented on #116
Thanks @JustFly1984 and @uriklar, and sorry for my late response.

So I was working on a project for an organization and I was using my API key. I had shared the project with their Tech. team with my API key still in the codebase. Reason is that I didn't want them to be confounded by the view they get when the App loads without a key, so I left my key in there, uncomfortably though.

I was thinkin

[2019-05-18 12:00] #116 closed

[2019-05-18 13:15] regulyarniy commented on #127
@JustFly1984 I don't think the problem is in the `react-frame-component`
I modified first example, where I rendered `GoogleMap` with `createPortal` inside manually created iframe without  `react-frame-component`. It crashes with error, but if you close error overlay then you see it rendered same img tag and no iframe.
Link: https://codesandbox.io/s/googlemap-inside-iframe-issues-j655x
Is there any

[2019-05-18 15:20] JustFly1984 commented on #127
Possibly there is some security measures made by google-maps-api team to prevent exactly this behavior. Please google or post your question at stackoverflow, and make an issue at google-maps-api issue tracker. We have no img replacement in our lib.

[2019-05-20 00:52] JustFly1984 commented on #110
https://codesandbox.io/s/usegooglemap-repro-2z4iw hacky example of using useMap hook

[2019-05-20 01:50] xalisys commented on #127
@regulyarniy  in you codesandbox example, if you comment out this line, it works:
`frm.setAttribute("src", "http://google.com/");`

The reason being that is, "maps.googleapis.com" has response header as following:
`x-frame-options: SAMEORIGIN`
Which mean you can only open iframs from same domain.

Hope this helps!

[2019-05-24 00:13] JustFly1984 commented on #127
Can we close an issue?

[2019-05-24 00:19] JustFly1984 commented on #117
@xalisys Should we disable instance persistence for 1.2.3? I'm going to publish working version, but I do not want to confuse users with features which is incomplete

[2019-05-24 01:21] xalisys commented on #117
@JustFly1984  yeah, for now we can disable that.

[2019-05-25 00:27] regulyarniy commented on #127
@xalisys yeah, my mistake, loading is fixed. thanks. but the issue still persists with dragging and styles.
dragging is working only if mouse pointer is moving on root document, not inside iframe.
styles also not applied correctly, as you can see.
I updated the sandbox: https://codesandbox.io/s/googlemap-inside-iframe-issues-j655x

[2019-05-25 00:59] regulyarniy commented on #127
@JustFly1984 Thanks for your attention. I close the issue. It's Google API bug. I created sandbox without your library and it shows same behavior: https://codesandbox.io/s/googlemap-inside-iframe-native-loading-dvr81

[2019-05-25 00:59] #127 closed

[2019-05-26 06:09] sns2009 opened #130 "Marker as component"
 Hi, Is it possible with this package to render custom markers(as component, not image) on map?

[2019-05-26 06:15] uriklar commented on #130
Hi @sns2009,
Please use out spectrum channel for usage questions: https://spectrum.chat/react-google-maps

If you need a custom component on the map you can use an OverlayView which will allow you to pin any component to a position on the map

[2019-05-26 06:15] #130 closed

[2019-05-27 09:14] herzuull opened #131 "Add mouse down and mouse up events"
# Adding mouseDown and MouseUp Events

On mobile device we are allowed to long-click to add a marker below the spot we clicked on.
Unfortunately the two event we need to create a long click : mousedown and mouseup are not implemented yet.

I have forked the project to test it myself, and as the two methods are already in the Google Maps API, it's not a big deal.

Adding
[code]

Open for any commen

[2019-05-27 11:02] JustFly1984 commented on #131
@herzuull  Please open PR, and I will publish new version.

[2019-05-27 12:48] robin-chilliapple opened #132 "How to make a moving marker like Uber cars?"
I create a marker like this:
<GoogleMapReact bootstrapURLKeys={{ key: GOOGLE_MAP_API_KEY }} center={this.props.center} zoom={this.props.zoom} options={createMapOptions}> <Marker lat={lat} lng={lng} marker_img={IMG} /> </GoogleMapReact>

Now how do I move this marker like a car on location updates?
I use states to update the position of the marker but it doesn't animate. How do I do this?

My issue

[2019-05-27 12:51] uriklar commented on #132
I think you need a combination of location and heading (the direction in angles the car is going to)
You can continue this discussion in this simmilar thread:
https://spectrum.chat/react-google-maps/general/how-to-traverse-a-car-on-the-map-by-longitude-and-latitude-data~21a5d7ba-598f-428c-99a8-2bedee6860c8

Or post your own on our specturm channel. The issues are for bugs/feature requests

[2019-05-27 12:51] #132 closed

[2019-05-27 15:03] herzuull commented on #131
@JustFly1984 done !
https://github.com/JustFly1984/react-google-maps-api/pull/133

[2019-05-28 11:06] regulyarniy opened #134 "Add smooth center change"
How about adding `smoothPan` (`boolean`) prop for GoogleMap component? When value is `true` `center` prop change uses smooth map.panTo method to move the camera (https://developers.google.com/maps/documentation/javascript/reference/map#Map.panTo).
I could make the PR if it is sounds interesting.

[2019-05-28 14:33] herzuull commented on #131
Thanks !

[2019-05-28 14:33] #131 closed

[2019-05-29 07:25] JustFly1984 commented on #134
@regulyarniy Sure, waiting for your PR.

[2019-05-29 07:25] JustFly1984 commented on #28
Done in 1.2.3

[2019-05-29 07:25] #28 closed

[2019-05-29 07:26] JustFly1984 commented on #62
Done in 1.2.3

[2019-05-29 07:26] #62 closed

[2019-05-29 07:26] JustFly1984 commented on #128
I have added my website, anyone interested, please make a PR.

[2019-05-29 07:27] JustFly1984 commented on #117
have removed feature in 1.2.3

[2019-05-29 07:27] #117 closed

[2019-05-29 11:12] mathieu-anderson opened #135 "Bug(Polygon) : onMouseUp event returns wrong coordinates when editing Polygon edge"
# Please provide an explanation

`onMouseUp` event provides wrong `latLng` as part of its returned value when editing a Polygon's edges.

## How does it behave?

Codesanbox of issue : https://codesandbox.io/s/reactgooglemapsapi-polygon-edge-onmouseup-bug-5916w

To reproduce :
- click on an edge (midpoint between two points of the Polygon)
- drag to a new position
- let go
- the point added to the

[2019-05-31 15:06] mathieu-anderson commented on #110
From [the conversation that happened on Spectrum](https://spectrum.chat/react-google-maps/general/edit-partial-answer-in-comment-what-is-the-right-approach-to-get-the-new-polygon-path-when-editing-a-polygon~06f0812d-fe63-4ca8-a7f9-721e3fbb0964), I made this small example on how to get the new values of an edited Polygon. Not sure if acceptable, but I was stuck a long time trying to tackle this!

h

[2019-06-02 06:03] regulyarniy commented on #134
@JustFly1984 https://github.com/JustFly1984/react-google-maps-api/pull/136

After looking at the code architecture, I decided to implement `smoothCenter` prop with same type-shape as `center` for minimal code changes.

[2019-06-03 20:53] modosc opened #137 "add support for client parameter"
google supports client keys instead of api keys:

https://developers.google.com/maps/documentation/javascript/get-api-key#specifying-a-client-id-when-loading-the-api

## How is it behave?
we don't have an api key so LoadScript doesn't work correctly. there's no way to provide a client key instead.

## How should it behave correctly?
client key should be supported

[2019-06-03 21:24] uriklar commented on #137
Thanks for the issue! Wanna try creating a PR?

[2019-06-04 08:31] FredyC opened #139 "LoadScript used multiple times in app"
I've already tried to discuss this [on the spectrum](https://spectrum.chat/react-google-maps/general/you-have-included-the-google-maps-javascript-api-multiple-times-on-this-page~99cc4656-9502-4fc4-9fa2-9cdccc8f44f7), but no response, so let's poke a bear in here :)

There is an obvious problem that `LoadScript` injects a script to header every time it is mounted. It's not keeping any information i

[2019-06-05 04:21] janklimo commented on #18
Is anybody working on the implementation of `InfoBox`? We're working on migrating from `react-google-maps` so we could contribute to that guide once ready.

[2019-06-05 06:27] orta-sanz commented on #139
I'm facing the same issue as you: `google is not defined` :/

[2019-06-05 06:28] JustFly1984 commented on #18
@janklimo we are not working on InfoBox currently, if you want to make a PR, it is always welcome.
@uriklar do you have something to add?

[2019-06-05 06:32] JustFly1984 commented on #139
That is a bug with google-maps-api itself, the only way to get rid of this error is to use `<LoadScript />` in single place in the app, or just ignore an error message. I have posted an issue at google's issue tracker. If you are interested, please support an issue.
https://issuetracker.google.com/issues/121054556

[2019-06-05 06:34] JustFly1984 commented on #139
@FredyC I wanted to clean the <head /> section from the garbage generated by google-maps-api script on unMount.

[2019-06-05 06:35] FredyC commented on #139
@JustFly1984 Well, I am fairly convinced that using `scriptjs` would fix that. Or at least that's the difference from react-google-maps project and it was working there properly.

[2019-06-05 06:43] JustFly1984 commented on #139
@FredyC can you make a PR, which will make scriptjs as an option?

[2019-06-05 06:52] FredyC commented on #139
That's going to be tough. Any optional dependencies are a problem for Webpack bundlers which would fail in a moment they see `require('scriptjs')`. To this day, I am not aware of the proper way of handling that.

[2019-06-05 06:56] JustFly1984 commented on #139
I'm not saying that dependency should be optional) I'm saying that there should be boolean prop on `<LoadScript scriptjs={false} />`, which turns `scriptjs` off. I still hope that my issue will get an attention.

[2019-06-05 06:58] FredyC commented on #139
I see, ok, I can do that. Not sure though why would anyone want to turn that off since it won't decrease bundle size or anything :)

[2019-06-05 07:49] orta-sanz commented on #139
Thanks for the explanation @JustFly1984 ;)

[2019-06-05 16:58] FredyC opened #140 "Use Yarn workspaces?"
Would you be inclined to switch over to that instead of Lerna Bootstrap which always felt rather buggy? I can do the change, but want to know first if you have some objections.

https://github.com/lerna/lerna/tree/master/commands/bootstrap#--use-workspaces

[2019-06-05 17:11] FredyC commented on #18
@JustFly1984 @uriklar Hey, do you know that latest 1.2.3 build is actually broken? In package.json you are referring to UMD folder, but it's not included in the build. Perhaps you haven't intended to release it yet and it should have been another alpha?

https://unpkg.com/@react-google-maps/api@1.2.3/

I would highly recommend not to use `.npmignore`, it's hard to maintain that in the long run. In

[2019-06-05 17:14] JustFly1984 commented on #18
@FredyC Thank you!

[2019-06-05 17:47] FredyC commented on #139
Hm, so I am looking into and it's not true what I've said before about missing check on the mount.

https://github.com/JustFly1984/react-google-maps-api/blob/f5b635cf47dd21cb0e04e9ecd10c3b6dd3b1cf55/packages/react-google-maps-api/src/LoadScript.tsx#L56

However, the problem might be that second part of the condition. If there is `window.google` present but it's currently cleaning up from previous

[2019-06-05 21:39] JustFly1984 commented on #140
I do think that switch to workspaces is good idea. please go on :-)

[2019-06-06 03:54] uriklar commented on #140
+1
I've been hearing good things about yarn workspaces.
There are 2 pain points I'm wondering if this could maybe solve easily:

1. An easy way to link between the project packages. I.E - I've developed something on react-google-maps-api and I want to test it on react-google-maps-api-gatsby-example.

2. A way to allow pointing at a specific branch of a package in package.json. I can't find the iss

[2019-06-06 04:06] FredyC commented on #140
That does work naturally, it makes symlinks directly to those packages

That's a bit harder. It's, of course, possible in terms of NPM so it would work when published, but Git is the enemy here. It doesn't allow for partial checkout of different branches for a subdirectory.

[2019-06-06 15:12] tottivega opened #144 "Map renders gray in Material Ui Modal / Dialog"
@react-google-maps/api version 1.2.3
@material-ui version 4.0.1

Loading a GoogleMap Component inside of a Material Ui Dialog Component renders the map completely gray, while outside of the modal the map renders correctly.

Has anyone encountered this issue before, anyone knows a way around it?

[2019-06-06 16:11] JustFly1984 commented on #144
@tottivega  Can you please provide minimal example at codesandbox?

[2019-06-06 16:33] tottivega commented on #144
When I prepared my example at codesandbox it worked, so I went back to my code and traced the issue down to having overflow-x: hidden in my modal. It was causing the map to inherit that I guess.

[2019-06-06 16:33] #144 closed

[2019-06-06 21:08] #140 closed

[2019-06-06 23:53] JustFly1984 opened #146 "Add badges to readme"
examples: https://badgen.net/

[2019-06-07 07:45] FredyC opened #147 "gatsby local"
@FredyC
I have issues with running gatsby-example locally after yarn workspaces merge, can you try to run it, you will see what I mean.

_Originally posted by @JustFly1984 in https://github.com/JustFly1984/react-google-maps-api/pull/143_

[2019-06-07 07:46] FredyC commented on #147
Are you seeing this too or is that some other issue? 😆

![image](https://user-images.githubusercontent.com/1096340/59088891-19ad2780-8909-11e9-9af4-5f480aa1eea2.png)

[2019-06-07 07:51] FredyC commented on #147
Ok, so I had the same error before my PRs as well, so you should probably be more specific what issue you have.

[2019-06-07 07:51] JustFly1984 commented on #147
nope, I see another issue:

<img width="701" alt="Screenshot 2019-06-07 10 50 59" src="https://user-images.githubusercontent.com/2255993/59089177-25511c00-8912-11e9-9d0e-7060509c3b1d.png">

[2019-06-07 07:57] FredyC commented on #147
Well, that's kinda obvious, the `api` package is not built to be referenced. I have it built, so when I run it without `--https` it works correctly.

I wonder what would be the best approach here. It would kinda make sense some watch mode for API package running along to have it rebuilt when changing. TSDX does have a watch mode.

[2019-06-07 08:06] FredyC commented on #147
Hmm, I take it back, without HTTPS I actually have a different kind of error that does not make any sense...

![image](https://user-images.githubusercontent.com/1096340/59089969-bd97d280-890b-11e9-894a-b9ec73e669be.png)

Apparently, it uses ES variant built by TSDX, but I have no idea why it would be looking for `tsconfig.json` at that moment. How the TypeScript involved there?

[2019-06-07 08:16] FredyC commented on #147
Hm, the only workaround I was able to figure out is to disable `failOnError`, then it starts and seems to be working just fine. I think it's a bug somewhere deeper in Gatsby or some plugin. I know nothing about that ecosystem...

https://github.com/JustFly1984/react-google-maps-api/blob/54af7f2ca98ded16b3de7775fbe51d1ec8dea28b/packages/react-google-maps-api-gatsby-example/gatsby-config.js#L28

[2019-06-07 10:01] FredyC commented on #134
@regulyarniy Can you elaborate on some practical example where it might be useful? I mean panning is usually an imperative action caused by the user doing something. Doesn't feel right to be re-rendering whole GoogleMap component because of that.

If can use React Hooks, you can have something like following instead. It's composable and doesn't limit you to trigger panning from the outside of Goog

[2019-06-07 14:11] JustFly1984 commented on #146
https://egghead.io/lessons/javascript-how-to-write-a-javascript-library-adding-badges-to-your-readme

[2019-06-08 00:15] regulyarniy commented on #134
@FredyC This can be used in the same way as `center` to switch the camera, but if the points are next to each other, the camera will be moved smoothly. This does not trigger the rerender of the component. A practical example: you have a list of markers on the map that center the camera on it with a click on marker. If you want to smoothly switch the camera now, then you need to create additional h

[2019-06-08 06:00] FredyC commented on #134
@regulyarniy I do understand what panning does in comparison to center, but I find your approach terribly limiting. You have to write your pan value to some store (PITA with Redux), re-render component that contains GoogleMap to pass the new value in it. Ultimately it will call imperative `panTo` method on map instance. It's kinda crazy when you think about it: *click on marker (imperative) -> wri

[2019-06-08 21:30] #147 closed

[2019-06-08 21:35] #139 closed

[2019-06-08 21:35] #137 closed

[2019-06-10 17:15] mikirobles opened #150 "Conflicting dependencies with latest CRA"
# Please provide an explanation

I'm getting an error trying to use this package with Create React App.
Seems like there's a lot of conflicting dependencies whose versions in this library are higher than those in CRA, thus triggering a preflight check error:

## Your Environment

os: mac

node --version v8.11.3

react version 16.8.6

## How is it behave?

When running `npm start` this error comes

[2019-06-10 18:28] JustFly1984 commented on #150
@mikirobles Please use “resolve” property in your package.json

[2019-06-10 18:36] mikirobles commented on #150
@JustFly1984 Sorry, do you mean "resolutions"?
https://yarnpkg.com/en/docs/selective-version-resolutions

[2019-06-11 02:08] Moramu opened #151 "Autocomplete/Standalone search box"
# Please provide an explanation

## Your Environment

os: windows/

node --version 10.13.0

react version 16.8.6

webpack version "4.33.0"

@babel version 7.4.3

@react-google-maps/api version 1.2.7

I just migrated from old version of react-google-maps, which is no longer supported.
I successfully implemented Markers and InfoWindow from your package, but when I'm trying to use Autocomplete or Sta

[2019-06-11 08:09] kaYcee opened #152 "change from /lib to /dist breaks imports"
# Please provide an explanation
Overall great redo of the original package, thanks! Unfortunately, version 1.2.7 seems to break the default imports. Previously (up to version 1.2.3), imports such as

[code]

were possible to reduce bundle size. Now, I get an error `Module not found: Can't resolve '@react-google-maps/api/lib/LoadScript'`. Even if I change from `/lib` to `/dist` (which seems to have

[2019-06-11 08:34] JustFly1984 commented on #151
@Moramu can you please provide a link to minimal example at codesandbox?

[2019-06-11 08:34] JustFly1984 commented on #152
@FredyC mention

[2019-06-11 08:35] JustFly1984 commented on #150
@mikirobles sorry, yes you are correct.

[2019-06-11 08:57] FredyC commented on #152
@kaYcee Can you please open an issue at https://github.com/palmerhq/tsdx/issues instead? That's the tool we are using for building and it doesn't really allow for much of configuration. I briefly looked there and not much mention of tree shaking.

[2019-06-11 09:13] kaYcee commented on #152
Thanks for responding so quickly @FredyC! I understand your concerns regarding tree-shaking. But the advice to reduce bundle size is explicitly mentioned on the [project page](https://github.com/JustFly1984/react-google-maps-api/tree/master/packages/react-google-maps-api). Apparently the recent version 1.2.7 has breaking changes - namely changing the distribution folder from `/lib` to `/dist` and

[2019-06-11 09:28] FredyC commented on #152
Ok, I wasn't aware of that advice in docs and @JustFly1984 merged change in build tool without pointing that out. It's indeed a breaking change given that.

Looking at [Webpack docs](https://webpack.js.org/guides/tree-shaking/) and there are some hints on how to make tree shaking working. I will check it out in a few days and see what we can do here. Worst case scenario would be double building to

[2019-06-11 10:04] JustFly1984 commented on #152
@FredyC Tree shaking is important, there is a whole world out there, which has no even proper 3g connection. I had no idea that tdsx has no support for tree shaking.

[2019-06-11 10:05] Wintervacht opened #153 "Zoom on StreetViewPanorama not working"
# The issue
I have successfully implemented a StreetViewPanorama using the following method in another component's render function:
`const StreetViewMap = withScriptjs(withGoogleMap((props) =>
            <GoogleMap>
                <StreetViewPanorama defaultPosition={this.state.latlng}
                                    visible/>
            </GoogleMap>
        ));`
I have tried to change the

[2019-06-11 10:08] FredyC commented on #152
@JustFly1984 Well, it's not about TSDX. Tree shaking, in general, is about dead code elimination. That can happen over the bundle as well. According to a linked document, if the ESM bundle is used, it should be able to do that without any configuration. If CommonJS bundle is used and the Webpack is informed that module is side effect free, it can do tree shaking as well.

[2019-06-11 12:40] erikhuisman commented on #150
eslint is listed in devDepencies AND dependencies in `package.json`

[2019-06-11 13:01] Moramu commented on #151
Yes, i can, but codesandbox temporary saying "Could not fetch dependencies, please try again in a couple seconds: Something went wrong while packaging the dependency @react-google-maps/api@1.2.7"

[2019-06-11 13:27] Moramu commented on #151
Codesandbox, showing me error while fetching script so i use another one....
https://stackblitz.com/edit/react-mrzxru

[2019-06-11 13:42] mikirobles commented on #150
@erikhuisman right, actually *most* dependencies are in both `dependencies` and `devDependencies`. This doesn't seem right 🤔
.

[2019-06-11 16:18] JustFly1984 commented on #153
@Wintervacht Can you please make an basic example at codesandbox?

There is no `default` props on components to simplify API in our lib.

As I see a source code, there is an `options` prop for <StreetViewPanorama />, which accepts an object with next interface:

<img width="420" alt="Screenshot 2019-06-11 19 16 47" src="https://user-images.githubusercontent.com/2255993/59288968-a6474500-8c7d-11e9-

[2019-06-11 16:26] JustFly1984 commented on #152
@FredyC annoying is very opinionated word, especially then you try to fit your bundle size below 100kb. There is a difference between `should` and `does` when we are talking about bundlers like webpack etc.

[2019-06-11 18:00] FredyC commented on #152
That was merely a side note... If that's all you have taken from what I said, then it's not good ;) Point is that accessing modules directly in `/lib` is NOT tree shaking as it's falsely named in README. It's only about including specific files in build.

I do wonder what are other known bundlers that do support tree shaking (in any form) that are worth considering? I am kinda living in Webpack bu

[2019-06-11 18:26] JustFly1984 commented on #152
@FredyC
I agree that tsdx is a great option, but currently tree shaking is very tricky think to achieve, and depends on how lib exporting it's api. I like that TSDX makes better optimized JS output, but I would like to keep lib modular.

https://bundlephobia.com/result?p=@react-google-maps/api@1.2.7 says that it is treeshakable though.

We have two options - get rid of specific imports and remove

[2019-06-11 18:37] FredyC commented on #152
@kaYcee Any chance you could try if using dist exports instead of the lib actually does tree shaking? I don't mean to rewrite your whole app, but perhaps create a small repo with CRA and commit everything including "build" folder.

[2019-06-11 18:42] JustFly1984 commented on #151
https://stackblitz.com/edit/react-cmo3u7?file=index.js

You have to add an array of libraries including "places" string like I did in the fork of your stackblitz.

I will add that to example.

[2019-06-11 19:53] JustFly1984 commented on #152
I have published 1.3.0, temporary getting rid of `/lib` advice on readme.md, please use standard import

@kaYcee
53 KB looks like the bundle size without gzip, possibly in dev mode. Dev mode of create-react-app` does not use tree-shaking by default. please analyze only production bundle.

[2019-06-11 20:07] FredyC commented on #152
I think bundlephobia is incorrect at this. Looking here, the production bundle has only 39kB, should be even smaller when gzipped. Not that it matters that much with tree shaking :)

https://unpkg.com/@react-google-maps/api@1.3.0/dist/

[2019-06-11 20:08] JustFly1984 commented on #152
@kaYcee
We have gatsby-example in packages directory. If you want to help our community, you can create a PR with create-react-app-example, so we could improve on it.

[2019-06-11 20:34] JustFly1984 commented on #150
@erikhuisman @mikirobles Thank you for pointing this up! nice catch. I have fixed it in 1.3.0, and published. Enjoy!

[2019-06-11 20:34] #150 closed

[2019-06-11 20:34] #151 closed

[2019-06-11 20:35] JustFly1984 commented on #151
I have published 1.3.0, fixed an error messages by invariant

[2019-06-11 20:35] JustFly1984 commented on #153
please reopen if it does not solve your issue

[2019-06-11 20:35] #153 closed

[2019-06-11 20:37] mikirobles commented on #150
@JustFly1984 Thank you very much!

[2019-06-11 23:06] #152 closed

[2019-06-11 23:11] JustFly1984 opened #154 "make `create-react-app` example in packages, same way as gatsby-example"
I think we can externalize common example components to separate packages, and reuse them in both, gatsby and create-react-app examples, as well as other people can reuse them in their own apps.

[2019-06-11 23:41] JustFly1984 commented on #135
I have looked into an issue and forked your bug example, and I can confirm that there is a bug in google-maps-api. If you can look at my example, there is correct coordinates returned by onMouseUp on <GoogleMaps /> component.

https://codesandbox.io/s/react-google-maps-api-polygon-edge-onmouseup-bug-93x7e

I hope you can hack around your issue, but at the same time I would recommend you to create

[2019-06-13 21:17] colemars opened #156 "More examples/documentation on clustering"
Documentation right now is a bit unclear (to me). For example, I'm not quite clear on what the clusterer property on Marker does.

I'm stuck figuring out the difference between how clustering is done in the documentation by creating an array of lat/long objects and then mapping them directly versus accessing an already existing list of lat/long points and referencing them in the clusterer property

[2019-06-14 07:12] JustFly1984 commented on #156
I hope this example sandbox I've done will make things a bit cleaner
https://codesandbox.io/s/usegooglemap-repro-z6syx

[2019-06-14 07:22] uriklar commented on #156
@colemars I don't understand, what isn't working? It looks like your example is working fine.

When rendering marker that you want to be clustered, you need to render them inside a ```<MarkerClusterer> ```
This component provides you a ```clusterer``` (via render prop). You then pass this clusterer as a prop to each marker you want to be clustered.

The important line in Marker.tsx is [this](https

[2019-06-14 12:25] DevelopwithTom opened #158 "Non of the demos are working"
Non of the demos are working:

https://react-google-maps-api-docs.netlify.com/#section-introduction

Is this a problem with the component or my API key?

Are the demos working for everyone else?

[2019-06-14 12:48] AgamlaRage opened #159 "google api is already presented: AJAX page loading + ReactDOM.render()"
Hello, _Thx for this plugin, you are doing a great job!_

I'm currently using the latest version of the plugin `"@react-google-maps/api": "^1.3.0"`.

I've created a custom component `<Map/>` containing `<LoadScript/>` and `<GoogleMap/>` inside it.
This custom component is render with `ReactDOM.render()` in my page.

In my app, I've also got an AJAX page loading system that is similar to [JQuery.lo

[2019-06-14 16:14] JustFly1984 commented on #159
@AgamlaRage you can use ‘<LoadScript />’ once, the same way you use Redux ‘<Provider />’, or use new alternative ways to load script, you can see the docs

[2019-06-15 13:04] JustFly1984 commented on #158
All demos are working, please use correct api key.

[2019-06-15 13:04] #158 closed

[2019-06-15 17:07] slorber opened #160 "preventGoogleFonts breaks CSS-in-JS"
Version:     "@react-google-maps/api": "^1.3.0",

Using Emotion 10 css prop for CSS-in-JS.

When using preventsGoogleFontsLoading = true

[code]

The RED div has the correct Emotion className, but your option prevented emotion to insert the desired CSS in the stylesheet or something.

![image](https://user-images.githubusercontent.com/749374/59554198-93937f80-8f9f-11e9-8bc5-407886cd28ae.png)

![im

[2019-06-15 18:11] JustFly1984 commented on #160
Well, it means that emotion loads google fonts exactly the same way as google maps, and/or using same class name prefix as our library. In general I would not recommend to use CCS in JS for performance reasons, as well as style prop object. Please install eslint-plugin-react-perf, and you will understand what I mean

[2019-06-15 18:28] slorber commented on #160
Emotion does not load google fonts.
The classNames look like this: css-9tf9ac

IMHO this statement is not really well funded. I use CSS in JS with Gatsby so my CSS-in-JS is most of the time extracted as CSS files at build time. + approaches like RNW (used by Twitter in prod) have been reported to actually be better than most carefully hand written CSS due to their "atomic" approach. As for style p

[2019-06-16 12:11] AgamlaRage commented on #159
@JustFly1984 Thx for your quick response.

I ended up with a hack that suits my needs.

I extended your original `<LoadScript/>` to prevent this error when `window.google`  is already loaded.
Then changing the `loaded` state if it's the case.
So it will render the children (my  `<GoogleMap/>`).

[code]

I don't know if my code is usefull to you, or if you want your plugin to handle this use case.

[2019-06-16 12:11] #159 closed

[2019-06-17 08:14] altJake opened #161 "Make `console.log` statements configurable"
There are a quite few `console.log` calls in several place in the code (you can hit the search query [here](https://github.com/JustFly1984/react-google-maps-api/search?q=console.log)).

I can see some were intended for debugging and/or logging to the console upon unforeseeable errors. In our production environment we noticed that due to this line here:
https://github.com/JustFly1984/react-google-m

[2019-06-17 08:24] JustFly1984 commented on #161
I think we can remove those console.logs safely. your PR is welcome. No need in debug prop.

[2019-06-18 18:42] colemars commented on #156
Thank you for clearing up my confusion

[2019-06-18 18:42] #156 closed

[2019-06-19 15:10] vvmarulin opened #165 "getPixelPositionOffset in OverlayView is called only once with width and height equal zero"
## Environment

os: MacOS Mojave 10.14.3
node: 10.16.0
react: 16.8.6
webpack: 4.29.6
@babel 7.4.0
@react-google-maps/api: 1.3.0

## How is it behave?

If `OverlayView` component is rendered only after some event (for example after click on a marker) then `getPixelPositionOffset` function is fired only once with `offsetHeight` and `offsetWidth` equal to `0`. But if I move the map or change zoom val

[2019-06-19 16:29] JustFly1984 commented on #165
Can you make a PR?

[2019-06-19 16:33] #161 closed

[2019-06-19 19:14] mikirobles opened #166 "DrawingManager is not working"
# Please provide an explanation

As soon as DrawingManager is inserted into the map, it breaks.

## How is it behave?

There is an uncatched error:

[code]

## How should it behave correctly?

It should show a map with DrawingManager.

## Steps to reproduce:

1 - Open demo: https://codesandbox.io/s/crazy-forest-yrp0n
2 - Insert API key in code (maybe optional?)
3 - Uncomment DrawingManager from re

[2019-06-19 19:20] mikirobles commented on #166
Solved it by:
1 - Removing <LoadScript>
2 - Adding Google Maps scripts inline to index.html
3 - Adding "drawing" library to script

Demo:
*Remember to replace API key in index.html for the demo to work*
https://codesandbox.io/embed/crazy-forest-yrp0n

[2019-06-19 19:20] #166 closed

[2019-06-20 08:09] vvmarulin commented on #165
@JustFly1984
I created a PR. I'm not sure if it's the best solution but it solves the issue. I also added a gatsby example because I didn't manage to find another way to test the changes.

[2019-06-25 15:14] filingroove opened #170 "useLoadScript() throws "invariant requires an error message argument""
# Please provide an explanation

## Your Environment

os:
```mac```
node --version
```v10.15.3```
react version
```16.8.7```
webpack version
```4.28.3```
@babel version
``` @babel/core@7.2.2```
@react-google-maps/api version
```1.3.0```
## How is it behave?
When trying to use `useLoadScript()` hook, I get following error:
[code]

The code is simple:
[code]
## How should it behave correctly?
It sho

[2019-06-25 23:32] #165 closed

[2019-06-25 23:44] JustFly1984 commented on #170
did you forget to include libraries prop? I know this is a bug with calling invariant, I will fix it then I have time, or if somebody provides a PR.

[2019-06-26 09:41] shobishani commented on #170
By using useGoogleMap() hook I get this same issue
`Uncaught Error: invariant requires an error message argument
    at invariant (browser.js?40b6:24)
    at v (reactgooglemapsapi.es.production.js?4639:1)
    at NewGoogleMap (NewGoogleMap.tsx?f44d:10)
    at ProxyFacade (react-hot-loader.development.js?c2cb:766)
    at renderWithHooks (react-dom.development.js?61bb:12938)
    at mountIndeterminate

[2019-06-26 10:41] JustFly1984 commented on #170
@shobishani sorry about that, but check libraries prop.

[2019-06-26 10:53] shobishani commented on #170
@JustFly1984
I have the libraries prop
`const libs = ['places', 'visualization', 'drawing', 'geometry'];`

[2019-06-26 10:53] shobishani commented on #170
`useGoogleMap()` does not have any props.

[2019-06-26 11:23] shobishani opened #172 "setStreetView() not an instance of StreetViewPanorma"
With these options to
[code]
to GoogleMap component
[code]
It throws Error

`InvalidValueError: setStreetView: not an instance of StreetViewPanorama`

But if I don't pass these two, by default these are false then it works well, So I thought worth mentioning.

[2019-06-26 11:38] Sigizmund2012 commented on #170
Same issue when call useGoogleMap(). What libraries prop do you mean? Explain please.

[2019-06-26 11:58] shobishani commented on #170
@Sigizmund2012  do you happen to know how to stop map fitting bounds.
Whenever map is updated `map.fitBounds()` is being called somewhere in the library.
I don't want that I want it to `fitBounds` when I want according to my Application.

[2019-06-26 13:30] Sigizmund2012 commented on #170
No, sorry, I'm not very expirienced in React

[2019-06-26 17:36] filingroove commented on #170
@JustFly1984

I think the docs are not complete for `useLoadScript()` :)

Please include `libs` in the docs if it's a required argument https://react-google-maps-api-docs.netlify.com/#useloadscript

[2019-06-26 18:23] filingroove commented on #170
@JustFly1984

For me, this exception in Map component causes UI to break completely :) I think I'll to revert to using `LoadScriptNext` for the time being

[2019-06-26 19:06] Sigizmund2012 commented on #170
If just remove invatiant calls and import from https://github.com/JustFly1984/react-google-maps-api/blob/master/packages/react-google-maps-api/src/map-context.ts it fix the problem?

[2019-06-27 07:21] Sigizmund2012 commented on #170
Is there another way to get map instance without call useGoogleMap() ?

[2019-06-27 07:25] shobishani commented on #170
Yes use onLoad with GoogleMap component and you’ll get the map instance
Defiantly you can pass to parent with callback.

On Thu, 27 Jun 2019 at 12:22 PM, Sergey Segeda <notifications@github.com>
wrote:

[2019-06-27 13:10] Sigizmund2012 commented on #170
It's work, but hacky :)

[2019-06-30 17:58] vnscriptkid opened #174 "How to fetch places from Google API"
# Please provide an explanation

Hi, now I want to fetch places from Google API by creating new instance of google.maps.places.PlacesService

I managed to use useLoadScript to get access to `map` and `google` instance. But it turned out that though maps do exist in google but it has no `places`. I got error `Can not access PlacesService of undefined` as you might guess.

So what is the solution fo

[2019-06-30 18:56] JustFly1984 commented on #174
You need to add property `libraries` with array of libraries, in your case `libraries=["places"]`

[2019-07-01 01:23] xalisys commented on #172
@shobishani , "streetView" in google maps options is not boolean its object instead, here are [google map ocs](https://developers.google.com/maps/documentation/javascript/reference/map#MapOptions)

We pass map options as it is to google map instance without any manipulation.

[2019-07-01 06:44] shobishani commented on #172
Oh! Thanks @xalisys

[2019-07-01 06:44] #172 closed

[2019-07-01 09:17] ILoyso opened #176 "How to determine that maps isn't loaded"
# Please provide an explanation

Hi! I want to connect other maps if google maps aren't loaded (for test it is enough to put the flag "block request domain" in chrome devtools).

I tried to use`useLoadScript`, but it didn't help. Variable loadError returns undefined anyway, my app crashed and console error is `Uncaught ReferenceError: google is not defined'`.

Waiting: when access to Google cards

[2019-07-02 16:11] Aarbel opened #178 "Suggestion : better doc, add more description"
Thank you @JustFly1984 	for your work !

Documentation is hard to read, could you just add a little description on each method ?

For example i don't really know what this method is usefull for :

![image](https://user-images.githubusercontent.com/25119847/60528355-935fe780-9cf4-11e9-8589-58b125067aa7.png)

[2019-07-02 16:11] Aarbel opened #179 "Question: can we display a loader while gmpa is loading, and display the map after load ?"
Gmap is sometimes slow to load (the library and the tiles inside it), could be great to display a beautifull loader while tiles / marker are loading.

Do you know how to achieve this UI feature with this lib ?

Thanks a lot for your help !

[2019-07-08 16:35] tmasunda commented on #165
Hi @JustFly1984 is this issue resolved in version 1.3.0? I am getting the same problem discussed here with getPixelPositionOffset.

[2019-07-08 21:36] JustFly1984 commented on #165
Sorry had no time to publish next version, will do that tomorrow. it will be 1.4.0

[2019-07-09 05:43] tmasunda commented on #165
Thanks for the update.

[2019-07-12 08:56] JustFly1984 commented on #165
it is published, please test

[2019-07-13 07:24] uriklar opened #181 "Version 1.4.0 regression - DependencyNotFoundError Could not find dependency: 'invariant' relative to '/node_modules/@react-google-maps/api/dist/reactgooglemapsapi.cjs.development.js'"
This error happens in codesandbox but not in locally ran create-react-app:
https://codesandbox.io/s/distracted-thunder-r4doq

When changing version to 1.3.0 the error goes away

[2019-07-13 08:55] uriklar commented on #179
The `GoogleMap` component has an `onTilesLoaded` callback. You can use some kind of `areTilesLoaded` flag and show a loader until that flag is set to true by `onTilesLoaded`

Please use our [Spectrum channel](https://spectrum.chat/) for usage questions

[2019-07-13 08:55] #179 closed

[2019-07-13 09:31] JustFly1984 commented on #181
have published 1.4.1, please test

[2019-07-13 16:15] #181 closed

[2019-07-13 16:17] uriklar commented on #178
See this example on how to add description to props:
https://github.com/styleguidist/react-docgen-typescript#example

Adding: `/** prop1 description */` above each prop in each component's typescript interface definition will add that description automatically to the docs.

Contributions are welcome! :-)

[2019-07-13 19:00] uriklar commented on #178
@colemars has volunteered to work on this issue so please make sure to coordinate any work you want to put on this with him before you do. Thanks Cole

[2019-07-15 21:20] mjcampagna opened #182 "DrawingManager onOverlayComplete not firing when setting drawingMode null"
Using the native Google Maps API, while drawing a polygon, setting `drawingManager.setDrawingMode(null)` fires the 'overlaycomplete' event.

Using react-google-maps-api, this does not appear to be the case.

Given boilerplate like this:

[code]

Two handlers, `onClickOutsideMap` and `onPressEscapeKey`, do `setCancelFlag(true)`, then `setDrawingMode(null)`.

The latter, I would expect to trigger th

[2019-07-15 21:23] mjcampagna commented on #182
For what its worth, the workaround I've had to employ for this is:

[code]

And then to NOT use the `onOverlayComplete` prop on DrawingManager. =(

[2019-07-16 06:25] uriklar commented on #182
Hi @mjcampagna I've been trying to get this exact behaviour in my app! I didn't know about `onOverlayComplete` being fired. I'll work on a PR to add this.

[2019-07-16 08:12] JustFly1984 commented on #170
I consider this issue closed.

[2019-07-16 08:13] #174 closed

[2019-07-16 08:15] JustFly1984 commented on #176
@ILoyso
I think you can use <ErrorBoundary around google maps component, and handle `Uncaught ReferenceError: google is not defined` error in fallback

[2019-07-16 08:16] JustFly1984 commented on #160
@slorber
if you provide a PR, I will test it and merge.

[2019-07-16 08:18] JustFly1984 commented on #135
@mathieu-anderson do you found a workaround?

[2019-07-16 08:19] #113 closed

[2019-07-16 09:05] mathieu-anderson commented on #135
@JustFly1984 I actually have not delved deeper into the issue, as the solution proposed in the Spectrum chat and shared [here](https://spectrum.chat/react-google-maps/general/solved-what-is-the-right-approach-to-get-the-new-polygon-path-when-editing-a-polygon~06f0812d-fe63-4ca8-a7f9-721e3fbb0964?m=MTU1OTMwOTUyMTMyNQ==) actually fit the need I had.

The issue is still there on v1.4.2 of `react-goog

[2019-07-16 20:14] #135 closed

[2019-07-17 04:55] uriklar commented on #182
@mjcampagna mmm... I guess it wasn't fixed :-/
I'll try giving it another look. I was sure I had it working already...

[2019-07-17 08:12] tmasunda commented on #165
Thank you. Its now working beautifully.

[2019-07-17 08:43] ReiiYuki opened #184 "`onload` doesn't confirm that `google` is initialized!"
Hi

https://github.com/JustFly1984/react-google-maps-api/blob/5dd1be2cf435f5ab5f711ff63e86ff6eabd0ee43/packages/react-google-maps-api/src/utils/injectscript.ts#L24

`onload`  doesn't confirm that `google` is initialized!

[code]

I think you should resolve loaded status by trigger some callback function like initMap.

[2019-07-17 11:37] JustFly1984 commented on #184
@ReiiYuki  Can you make a PR please?

[2019-07-17 12:10] stsiushkevich opened #185 "The map is blank"
# Please provide an explanation

## Your Environment

os: windows

react version
"react": "16.6.0"

@babel version

@react-google-maps/api version
"@react-google-maps/api": "1.4.2"

## How is it behave?

I did all the instructions but my map is blank! I migrated from "react-google-maps": "9.4.5".

My code is:

[code]

![image](https://user-images.githubusercontent.com/12151060/61374616-7a833480-a8

[2019-07-17 12:26] naveenraj-kanagaraj commented on #146
Can take up this one @JustFly1984

[2019-07-17 13:06] JustFly1984 commented on #185
@stsiushkevich can you please make a basic example in codesandbox?

[2019-07-17 15:34] slorber opened #186 "Dynamically changing language or libraries"
Hi,

On 1.4.2

It is complicated to change at runtime the language or libraries supported. Clearly it's not the fault of this library, google does not make it easy.

One can't simply pass a language prop to the map or places autocomplete to customize to the needed language/libraries, we have to reload the global google script with the correct language/libraries.

Even in this page, the demo which

[2019-07-17 17:16] ReiiYuki commented on #184
@JustFly1984 OK! now it's on #187

[2019-07-17 17:20] ReiiYuki commented on #176
Hey I think this is same as what I found in #184

[2019-07-17 17:59] slorber commented on #186
Also, if we call again injectScript (due to a changing url/id) the state "loaded" remains true. I think in cases we are loading a new script, we want to reset the state so that we can show a spinner on something on our apps

[2019-07-18 17:25] baldmountain commented on #184
I just ran into this. Sometimes google is ready, but most times not.

[2019-07-18 23:17] JustFly1984 commented on #146
@naveenraj-kanagaraj you can fork the repo, make new branch, make your changes in new branch, and make pull request from your forked branch to main repo.

[2019-07-18 23:20] JustFly1984 commented on #186
The language change does reloads the script, but libraries change does not.

[2019-07-19 10:22] slorber commented on #186
@JustFly1984 not sure what you mean.

The libraries are included in the url:
https://github.com/JustFly1984/react-google-maps-api/blob/master/packages/react-google-maps-api/src/utils/make-load-script-url.ts#L9

Which means if the libraries chance, the url change, and the script reloads.

Is there another way to add a maps library dynamically without reloading the script?

[2019-07-20 04:44] scottydev commented on #185
Same happening to me. Using NEXT.js v9 and tried both the `useLoadScript` and `LoadScript` methods.

[2019-07-20 14:48] JustFly1984 opened #190 "Reverse engineer google maps script, download it and use as part of library."
@uriklar @FredyC @slorber

Just my ideas

I think to try an idea: download whole script with and without libraries, transform it with some tool like lebab to ES6, and use it as stable version.

Use chained lazy-loading and code splitting.

Advantages:
- We are in control of all the content, and can organize more efficient code loading and execution.
- We can typecheck and audit google's code. Pote

[2019-07-20 14:59] JustFly1984 opened #191 "Lazy component, which loads <LoadScript /> with <GoogleMap /> with IntersectionObserver API"
Could be published as separate package, `@react-google-maps/lazy` using `/api` with dependencies

Could take a fallback or placeholder components as render props or alternatives.

Could have className prop for styling.

[2019-07-20 15:25] JustFly1984 commented on #185
@scottydev can you provide a basic example in codesandbox? We have published 1.5.0 version, please update and check

[2019-07-20 15:43] scottydev commented on #185
Ok Stack Overflow helped me out: https://stackoverflow.com/a/11749810/1259863

Basically the `zoom` and `center` props are REQUIRED by Google Maps for initial load.

[2019-07-20 19:43] FredyC commented on #190
Well, it definitely sounds crazy, but why not :) Perhaps we could ask Google people first if they would be willing to provide access to the source code. It's a long shot but could save some nerves for sure. But don't tell them you want to remove tracking 😆

It's a huge responsibility imo. You might have some spare time now to set up the whole thing, but what about a year later? Google people are p

[2019-07-20 21:14] JustFly1984 commented on #190
@FredyC React will move on to 17 pretty much soon, and then there will be much more people searching for alternative to react-google-maps. Patching forks as they do now will be too much tedious task.

As of now, there is a lot of people who just use most searchable stuff with more stars, even if docs are not updated, but eventually people are looking at issues, and I'm maintaining a constant noise

[2019-07-21 07:23] FredyC commented on #190
There is a way more breaking changes and maps will be the least concern imo. There are still way too many libraries that are not either maintained or don't worry about StrictMode yet.

Luring people in isn't probably some exact science, but perhaps some article which goes through some aggregators can bring some attention. Or actively seeking questions regarding react google maps and redirecting pe

[2019-07-22 17:09] JustFly1984 commented on #190
One more thing is that google maps team constantly updates new api, and it is not possible to update tomchew's lib, since it has broken build.

[2019-07-22 20:04] priya-kanipakam opened #192 "DrawingManager issue"
When I try to use DrawingManager, my entire google maps module stops working (it works with things like Polygon).

Environment: NextJs

os: Mac (Mojave)

node v12.4.0

react version (npm version 6.10.1)

webpack version: 4.30.0

@react-google-maps/api version: current

## How is it behave?
When I create just a map and put a polygon on it, everything seems to work fine. When I bring in DrawingManag

[2019-07-22 20:48] JustFly1984 commented on #192
ScriptLoaded is our maintainers attempt to implement React hooks api.

@priya-kanipakam
LoadScript is original api.

You are describing pretty common issue. I think you are missing `libraries` prop on `<LoadScript />` component

@FredyC can you please improve docs, so people stop getting confused?

[2019-07-22 21:15] FredyC commented on #192
Um, I am confused as well, what is `ScriptLoaded`? I don't see anything like that. Please elaborate on what exactly do you want to improve.

[2019-07-23 07:25] ReiiYuki commented on #184
@JustFly1984 From the latest MR I found that it doesn't cover every case of loaded script.

The case I found is I use `useLoadScript` in multiple components.

The logic of `injectScript` which is used in `useLoadScript` is the following:
- if existing script tag resolve it as loaded!
- otherwise create new script tag then make it resolve when callback (`initMap`) is called.

This mean if we call u

[2019-07-23 07:27] ReiiYuki commented on #184
I suggest that we should check if script is already loaded by create new window attribute as save the value of loaded id in that attribute.

[2019-07-23 08:52] JustFly1984 commented on #184
@ReiiYuki can you make a PR?

[2019-07-23 13:48] Insider32 opened #193 "Orphan InfoWindow when combined with Clusterer"
I have set up my map component so as to only have 1 InfoWindow at any time, by tracking the clicked/selected marker by a unique ID.

However, I am facing the following issue when the above is combined with the Clusterer.
- I click on a Marker and the InfoWindow appears normally.
- I zoom out, and that Marker is now part of a cluster. The InfoWindow is not visible at this state, but if you zoom in,

[2019-07-23 21:21] JustFly1984 commented on #192
Oh, ScriptLoaded is a component which glues @react-google-maps/api with react-styleguide
to generate docs. @uriklar can flash the light on it

[2019-07-24 08:19] Insider32 commented on #193
Added repro: https://codesandbox.io/s/sparkling-water-ds2o7

[2019-07-24 10:56] coulson84 commented on #184
Have added a PR here https://github.com/JustFly1984/react-google-maps-api/pull/194 that should fix this

[2019-07-24 12:39] slorber commented on #190
Not sure it's a good idea imho, many google maps scripts seems lazy loaded and they probably want to keep the ability to upgrade their code live without asking your permission. Maybe they use private apis and want ability to do breaking changes or whatever... I don't know, but if they are ok with your idea, why not. But I doubt they will answer or be ok.

[2019-07-24 16:29] FredyC opened #195 "GoogleMap causing "Maximum update depth exceeded""
This is quick and dirty but should be roughly what my component looks like: https://codesandbox.io/s/wonderful-sun-2jqp2

You'll need to set your own google maps key in `YOUR_API_KEY`

This actually get a CORS error, but the structure should be correct.

_Originally posted by @baldmountain in https://github.com/JustFly1984/react-google-maps-api/pull/187#issuecomment-514654127_

[2019-07-24 16:33] FredyC commented on #195
Well, looks like you might have actually discovered a bug. Here is the modified sandbox that actually works...

https://codesandbox.io/s/optimistic-worker-19frf

However, when options object is not memoized, the GoogleMap goes into an endless update loop. Basically, because it's a PureComponent which compares shallowly only. But there are some shenanigans does inside the `applyUpdatersToPropsAndRe

[2019-07-24 17:05] georgiosd commented on #193
@JustFly1984 any help you can give us on the issue will be greately appreciated 💯

[2019-07-24 18:11] georgiosd commented on #193
I think we have narrowed down the problem to the clusterer removing the markers but not the info window, or all of it. The infowindow wrapper stays dangling around, not even attached to the DOM.

[2019-07-26 18:59] JustFly1984 commented on #195
@FredyC
Sure, I think we can rewrite it all to hooks, since hooks are here for long)

@uriklar

[2019-07-26 23:55] JustFly1984 commented on #193
I think marker clusterer requires a rewrite to functional Components

[2019-07-27 09:57] georgiosd commented on #193
@JustFly1984 that sounds great of course, but would you know of any workarounds for the moment?

[2019-07-27 12:26] JustFly1984 commented on #193
@georgiosd
I do not have time to debug this weekend. If you have time, your PR is welcome.
You can make an example in gatsby-example for better debug experience.

[2019-07-28 03:29] hc-12 commented on #170
Stumbled into the same issue with `useGoogleMap()`. Perhaps leave this issue open until it is resolved so we can track it?

[2019-07-28 07:39] JustFly1984 commented on #170
@hc-12 can you please make a reproduction in codesandbox?

[2019-07-28 19:59] Mrman opened #196 "Autocomplete/Standalone not firing onPlaceChanged/onPlacesChanged"
# Samples on https://react-google-maps-api-docs.netlify.com/#autocomplete do not trigger onPlaceChanged events

## Your Environment

react-google-maps-api sample website

## How is it behave?

Console logs 'Autocomplete is not loaded yet!' initially, but does not search selections as the code example suggests.

Is this a bug?

[2019-07-31 18:04] #185 closed

[2019-08-02 12:34] ninosaurus opened #198 "OverlayView re-rendered on map drag"
Hi, I refactored my app to use this library instead of **react-google-maps**, and I've found some problems with unnecessary rendering of OverlayView component.
I have events such as onMouseOver, onFocus, onMouseOut, onBlur, onClick on OverlayView children.
## Environment
node --version: **v10.15.1**

Here is my package.json dependecies:
[code]
I'm using OverlayView for custom html styled markers a

[2019-08-02 13:23] JustFly1984 commented on #198
@ninosaurus can you please create minimal reproduction at codesandbox?

[2019-08-02 20:27] JustFly1984 commented on #198
by now I think your issue is related to `this.renderBody()` call.
Please extract it to separate function component, and wrap into React.memo.

[2019-08-03 08:07] JustFly1984 commented on #198
Can you please also add `eslint-plugin-react-perf` for any case?

[2019-08-05 08:07] ninosaurus commented on #198
@JustFly1984 I tried with memoizing renderBody but it's not fixed.
Here I created reproduction at the [CodeSandbox](https://codesandbox.io/s/google-maps-issue-7fcq6), you may need to set your own API_KEY.

[2019-08-05 10:53] JustFly1984 commented on #198
@ninosaurus I have made some changes, please take a look
https://codesandbox.io/s/google-maps-issue-31ijp

[2019-08-05 14:08] ninosaurus commented on #198
Thanks @JustFly1984 but I still have same issue, here is an illustration:
![Aug-05-2019 16-06-20](https://user-images.githubusercontent.com/17122401/62470591-10bac400-b79b-11e9-9de0-a3c9575cb2f3.gif)

[2019-08-05 14:23] JustFly1984 commented on #198
I have changed it a bit more and found your issue - you have a className "fade-scale-in" on div
I have commented it out, and all works great
https://codesandbox.io/s/google-maps-issue-31ijp

[2019-08-05 14:40] ninosaurus commented on #198
I know that, but that's the animation that we wanted, is there other way to do animation?

[2019-08-05 14:52] JustFly1984 commented on #198
I don't really know what is going on here
There is nothing re-rendered in React. @FredyC @uriklar can you look closer on this issue?

[2019-08-05 14:54] ninosaurus commented on #198
I guess that's because map rerender the html element every time when map drags which then trigger css animation. I see that they provide API for animating Markers, but for OverlayView I had to do it with CSS. @JustFly1984

[2019-08-05 16:45] JustFly1984 commented on #198
@ninosaurus sorry, can't help you with issue, lets wait for other maintainers, maybe they have any ideas.

[2019-08-05 17:58] FredyC commented on #198
Well, it's really weird. Apparently `componentDidUpdate` of `OverlayView` is triggered on the move of map. Even though there is a PureComponent. I even tried to debug it and compared each prop and they do equal too. This should be fairly straightforward stuff and yet it baffles me as well. Sorry, I have no idea either what might be causing that.

[2019-08-05 19:52] JustFly1984 commented on #198
As I see it was added by @uriklar
Can you please clear an intention?

[2019-08-05 19:55] JustFly1984 commented on #198
@ninosaurus it is clearly a bug on our side, please wait till we fix it and publish new version

[2019-08-06 06:17] uriklar commented on #198
The force update is there because the container element is repositioned on every map moved. I guess we could update it's style via ref instead of rerendering the component. I'll try to get to it later today

[2019-08-06 07:49] uriklar commented on #198
@ninosaurus I believe the https://github.com/JustFly1984/react-google-maps-api/tree/issue-198-overlayview-force-update fixes the issue but I don't have time to test it right now.
@JustFly1984 do we have a good way to let people test branches? Because of lerna it is not possible to install the package from a git branch (@FredyC maybe now with yarn workspaces this has changed?)

@ninosaurus you can

[2019-08-06 08:20] FredyC commented on #198
Well, Yarn workspaces have nothing with that really. And even if there wouldn't be monorepo, without actually commiting `dist` it's not possible to just install it directly from GH.

I do like using https://github.com/whitecolor/yalc when I need to use a fork/branch of some project without polluting NPM with it, but it still needs to clone the project and build it. I am not aware of any other pret

[2019-08-06 08:26] JustFly1984 commented on #198
I think the fastest way to test, is to add the code from codesandbox to gatsby-example in the same branch, and test.

PS: Honestly, It feels like lerna and yarn workspaces is making more trouble than solving issues. same is concerning tsdx.

I do not have time today, but if there will be PR, I'll find time to merge and publish.

[2019-08-06 08:33] FredyC commented on #198
Well, that's just a pitfall of modern tooling which ultimately makes sense. Without it you would need to write code in ES5, no ESM, no TypeScript. Also, there would be no UMD bundle and people would have run minification on their own.

I would say it's not worth it just for a few cases when you need to test things out. If it's really something worrisome for you, then set up git hook (with Husky) t

[2019-08-06 09:41] ninosaurus commented on #198
@uriklar I've created you example on codesandbox, it looks like it not working, can you check it, I pulled out reactgooglemapsapi.esm.js and loaded components from there
[SandBox](https://codesandbox.io/s/google-maps-issue-ffn10)

[2019-08-06 10:20] FredyC commented on #198
@ninosaurus Well, it looks like that culprit is somewhere else after all. The `componentDidUpdate` of `OverlayView` is not firing anymore and the overlay content itself is not re-rendered either. So it seems that `draw` called by google maps is the source of the problem somehow.

Considering it was working for you with tomchentw version, it surely must be something on our side, but I just tried to

[2019-08-06 10:46] ninosaurus commented on #198
I guess google maps overlay animation is not supposed to be done with css. @FredyC

[2019-08-06 10:50] JustFly1984 commented on #198
@ninosaurus @FredyC @uriklar at least we have found a performance  bug and eliminated it. @FredyC can you please look at the call stack of draw function?

[2019-08-06 11:07] FredyC commented on #198
@JustFly1984 It goes directly to minimized google maps, so that's pretty much impossible to get something useful from that, but it's clear it runs based on requestAnimationFrame so in general it should be suitable for animating stuff.

![image](https://user-images.githubusercontent.com/1096340/62535007-a19ca880-b84a-11e9-9eb7-27f2778ced7e.png)

@ninosaurus I don't know enough about CSS animations,

[2019-08-06 11:11] ninosaurus commented on #198
I'll try that later today, it make sense to be working, thanks a lot guys.

[2019-08-07 23:12] eh-am opened #201 "allow to style autocomplete"
Right now it's not possible to style the[ wrapping div.](https://github.com/JustFly1984/react-google-maps-api/blob/master/packages/react-google-maps-api/src/components/places/Autocomplete.tsx#L136) I believe just supporting style/className ought to be enough.

@react-google-maps/api@1.5.4

[2019-08-08 02:35] JustFly1984 commented on #201
@eh-am if you provide PR, I can publish it asap

[2019-08-08 10:45] JustFly1984 commented on #198
@ninosaurus can we close an issue?

[2019-08-08 13:03] eszthoff opened #202 "More then one LoadScriptNext on a page doesn't work"
# Please provide an explanation
If you add 2 components on a page, each wrapped in LoadScriptNext it breaks the page.

I'm developing a UI library and would like add Map and Autocomplete to it. Each one has its own wrapper with loading the relevant libraries only. But when I add them both to the same page it breaks.

The same happen if I add more then one Autocomplete to one page, which is a possi

[2019-08-08 22:46] JustFly1984 commented on #202
@eszthoff The **google maps api** does not support multiple scripts on the same page, due to singleton nature. there is single `window.google` object which is overwritten by any consequent script loaded, which leads to bugs and memory leaks. Hence, there could be only one `<LoadScriptNext />` per page.

  We wish ourselves that it could be easier, and I have an idea to reverse engineer **google ma

[2019-08-08 22:46] #202 closed

[2019-08-08 22:47] JustFly1984 commented on #198
I consider this issue cosed, please request reopen if you have more questions

[2019-08-08 22:49] JustFly1984 commented on #196
@uriklar @FredyC mention

[2019-08-08 22:50] #192 closed

[2019-08-08 22:52] JustFly1984 commented on #186
@slorber there is no way to reload libraries or languages dynamicaly without reverse engineering google maps api itself

[2019-08-08 22:52] #186 closed

[2019-08-08 22:52] #184 closed

[2019-08-08 22:54] JustFly1984 commented on #182
@uriklar what is the status?

[2019-08-09 08:16] eszthoff commented on #202
@JustFly1984 thanks for the quick reply. I understand that `window.google` should be a singleton, but in the example I gave, one `LoadScriptNext` instance loads the `maps` API while the other the `places` one. It does work if these components are loaded on the page at different time (e.g. with some navigation between them). I thought that what the `injectscript` util does when checking if the exis

[2019-08-09 08:25] JustFly1984 commented on #202
It is singleton. We can't do nothing about it.

[2019-08-10 20:25] uriklar commented on #182
@mjcampagna Maybe i'm missing something, but I tried getting the desired behaviour with vanilla google maps api and i don't see the overlaycomplete event being called here as well.
Check out this sandbox (code is in index.html)
https://codesandbox.io/s/lucid-rain-v3wsc

[2019-08-10 20:32] uriklar commented on #182
@mjcampagna also, i've revisited my codesandbox and it works!
https://codesandbox.io/s/drawingmode-null-onoverlaycomplete-8y7jo

So I guess we can close this issue?

[2019-08-13 02:59] yookoala opened #203 "How to add custom controls to the map?"
# Please provide an explanation

## Your Environment

OS: Linux
Node: v12.3.1
React: v16.9.0
@react-google-maps/api version: v1.5.4

## How is it behave?

There is currently no documented way for library user to add react component to the map as custom controls.

## How should it behave correctly?

Google Map Javascript API allow users to [add custom control](https://developers.google.com/maps/doc

[2019-08-16 23:24] JustFly1984 commented on #203
@yookoala you can get `map` object from onLoad callback prop on `<GoogleMap />`, and do the same stuff as in your vanilla JS example. Please use spectrum community for questions.

[2019-08-16 23:24] #203 closed

[2019-08-21 00:09] #34 closed

[2019-08-21 19:21] fromsujay opened #207 "How to modify opacity of KML layer programmatically ?"
Hello,

I am a beginner in programming, so please be patient with me.
os: mac
node --version : v10.10.0
react version : 16.6.1
webpack version : 4.29.6 (as dependency in react-scripts)
@babel version : 1.11.0 (babel-plugin-import as dependency)
@react-google-maps/api version: 1.6.0

# How does it behave? No access to opacity property of KmlLayer

## How should it behave correctly? I would like to

[2019-08-21 20:18] Muskos opened #208 "There is no alt attribute in cluster's images"
Google audit has shown an error.
There is no alt attribute in the cluster's images.
https://github.com/JustFly1984/react-google-maps-api/pull/209

[2019-08-21 23:13] JustFly1984 commented on #207
please provide minimal reproduction on codesandbox.com

[2019-08-22 08:23] fromsujay commented on #207
Hello,

Please find a minimal reproduction of the case at hand. I would like to apply an opacity of 40% to this KML layer in order to see information on the map in the background.

https://codesandbox.io/embed/jolly-wilson-slhed

[2019-08-23 16:25] JustFly1984 commented on #207
Sorry, but klmlayer is part of google-map-api, and there is no possibility to style is. I would recommend to try to use png with transparency as url

[2019-08-23 16:25] #207 closed

[2019-08-23 16:27] uriklar commented on #207
I had the same requirement once and the solution was to convert kml to polygons and map them. The kml layer is not very flexible...

[2019-08-24 11:36] fromsujay commented on #207
I have 731 images to position as a part of the KML layer. It was going to be fastidious to convert them all and apply opacity on each one of them. So I posted the question on Stackoverflow and a developer found a very clever workaround to this problem. You can see the implementation in my codesandbox : https://codesandbox.io/embed/jolly-wilson-slhed

It is possible to change the opacity in the KML

[2019-08-27 08:00] r007 commented on #193
+1 same issue.

[2019-08-27 08:55] JustFly1984 commented on #193
@r007 Sorry I do not have time to debug. Your PR is welcome. You can fork our project, run it locally, build it and make new example in gatsby-example.

We have cloned marker clusterer as it is, and refactored it to typescript, so this bugs possible came from original version.

[2019-08-28 21:04] nojaf commented on #47
Hi @mpgon I'm having the same error ```react-dom.development.js?7f13:546 Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.
    in LoadScript```

Were you ever able to solve this?

[2019-08-29 10:12] FatehAK opened #211 "Support for Map markers with labels customization"
# Please provide an explanation
Just wanted to ask whether this package supports marker label customization such as setting a background for the label, colour and so on? If so how to add it or is there any alternative?

## Your Environment

os: mac/linux/windows/android/ios
linux
node --version
10.x
react version
16.9.x
webpack version

@babel version

@react-google-maps/api version
1.6.0
## How i

[2019-08-29 18:19] fromsujay opened #212 "How to capture the center of the map using onCenterChanged method ?"
Hello,

I am trying to capture the center of the map using the onCenterChanged method in order to keep the map centered around the new centre after a set state has occurred and avoid relapsing to the initial centre.

os: macOS Sierra version 10.12.6
node --version v10.10.0
react version 16.6.1
webpack version 4.29.6
@babel version 7.0.0 (code-frame)
@react-google-maps/api version 1.6.0

Impossible

[2019-08-30 08:08] mpgon commented on #47
@nojaf unfortunately not, we ended up migrating to mapbox and react-map-gl

[2019-08-30 08:52] JustFly1984 commented on #212
@fromsujay I have forked your codesandbox and solve your puzzle, enjoy
https://codesandbox.io/s/epic-fermat-kr12d

[2019-08-30 09:13] fromsujay commented on #212
Brilliant solution Alexey. Thank you very much. Have a good day.

[2019-08-30 09:13] #212 closed

[2019-08-30 09:52] JustFly1984 commented on #211
Please ask questions in our spectrum community

[2019-08-30 09:52] #211 closed

[2019-08-30 10:00] JustFly1984 commented on #47
@uriklar  mention

[2019-08-30 11:52] tirendus opened #213 "Adding map controls via JSX possible?"
Right now in order to add control components to the map I use vanilla js like this:

`map.controls[window.google.maps.ControlPosition.TOP_CENTER].push(controlDiv);`

Is there a way to set up controls via GoogleMap props? Something like

[code]

Thank you!

[2019-08-30 12:37] JustFly1984 commented on #213
@tirendus please ask questions in spectrum community

[2019-08-30 12:37] #213 closed

[2019-08-30 13:36] zackperdue opened #214 "fitBounds not working correctly"
# Please provide an explanation
AirBnB-style map
I am displaying search results on a map based on location and using a radius. Starting with 2-3 markers on the map, I fit map to the marker bounds. The markers are children of the map component, but sometimes the maps `props.children` are inexplicably null when I try to fit to bounds.

### Can someone think of a reason why my markers aren't register

[2019-08-30 13:50] uriklar commented on #214
Please provide a minimal reproduction via codesandbox and we'll be able to help

[2019-08-30 14:13] JustFly1984 commented on #214
Please use eslint-plugin-react eslint-plugin-react-hooks and eslint-plugin-react-perf

Looks like you have unnecessary updates

[2019-08-30 15:11] victorferreira opened #215 "onClick and onDblClick fired with the same event."
# Please provide an explanation

## Your Environment

os: mac

react version: ^16.8.6

@react-google-maps/api version: ^1.2.7

## How is it behave?

When I double click the map to zoom it also fires the onClick event, but want to have deferent behaviours for each of them.

## How should it behave correctly?

Ideally when using double click to zoom, it should only fire the onDblClick callback.

[2019-08-30 15:37] JustFly1984 commented on #215
@victorferreira  Please update to 1.6.0 and confirm an issue

[2019-08-30 19:37] victorferreira commented on #215
I updated the version to 1.6.0 and the issue didn't go away.

[2019-08-30 19:39] JustFly1984 commented on #213
I have an idea: You can use React.createPortal with your controlDiv, and use portal for your JSX.

You can get map instance from `<GoogleMaps />` onLoad callback

[2019-08-30 22:58] JustFly1984 commented on #215
Can you please make a minimal reproduction in codesandbox?

[2019-08-30 23:13] victorferreira commented on #215
Sure. Here's the sandbox: https://codesandbox.io/s/hungry-goldberg-shgqy

As you can see, both events are fired when you double click on the map.

[2019-08-30 23:47] JustFly1984 commented on #215
Your example is broken, I have fixed it here: https://codesandbox.io/s/clever-shirley-cm71s

I see everything as expected, onClick fires for first clich, and onDoubleClick fires on second click. This is normal behaviour.

[2019-08-30 23:47] #215 closed

[2019-08-31 14:37] victorferreira commented on #215
Let me explain my use case and maybe you can help me. I want to add a maker on the map whenever a user clicks on the map, but I don't want to add the marker when the user uses the double click to zoom. Right now, a marker is been added on single click and double click. and that's annoying because it sets a marker when the user just wanted to zoom. How do I prevent this from happening?

[2019-08-31 15:16] JustFly1984 commented on #215
Well, double click has a delay between first and second click, you can set timeout from the first click little bit more than a delay between clicks, and cancel this timeout on second click if it set, so no marker is set on zoom.

[2019-09-02 15:14] rafael-sa commented on #160
Just a heads up, it removes CSS generated from Emotion 9 as well.

[2019-09-04 12:58] JustFly1984 commented on #198
@uriklar

https://github.com/tomchentw/react-google-maps/issues/817#issuecomment-527838745

[2019-09-04 14:44] FredyC commented on #198
I don't think that calling `appendChild` in `draw` would have anything to do with this issue. It's performance boost, that's probably true, but this issue was about wrong way of doing animation. The OverlayView always have to re-render on map drag because it changes its position on the screen.

[2019-09-04 15:08] JustFly1984 commented on #198
@FredyC thank you for clarification. I just wanted to save this url as reference to OverlayView, so we can fix performance issue at some point.

[2019-09-04 15:09] JustFly1984 commented on #198
will leave this issue open, until we apply the fix.

[2019-09-08 15:23] AleksandrSerov opened #216 "Marker component not working correctly(Ipad/iOS)"
The label on the marker sometimes does not appear
**Demo**
https://youtu.be/3VYF_U8PNc0

Example code on codeSandBox
https://codesandbox.io/s/priceless-water-dhvxn

## Your Environment
os: ios 12+

node --version 7.0.0

react version 16.6.0

webpack version 4.2.20

@babel version 7.1.0

@react-google-maps/api version 1.6.0

## How is it behave?
Open map in Google Chrome/Safari on Ipad. Some labels

[2019-09-09 13:08] #214 closed

[2019-09-10 15:05] torresandres opened #217 "InfoBox is not exported correctly"
# Please provide an explanation
I updated to version 1.6.0 because of the new InfoBox support but it throws an error when I try to import this component. I'm working on a webapp that requires several maps and this is the only one that is not working after updating the package.
[code]
This causes my webapp to crash with the following error message:
[code]
Also, looks like [InfoBox's example in the

[2019-09-11 00:19] JustFly1984 commented on #217
InfoBox  will be available in next version 1.7.0
Currently docs are built from master. Please wait for new release this week.

[2019-09-11 10:10] janklimo opened #219 "Addition of MarkerWithLabel component"
We're migrating away from `react-google-maps` and hit the roadblock of not having the [`MarkerWithLabel`](https://tomchentw.github.io/react-google-maps/#markerwithlabel) support. Is this on the roadmap? Didn't see it mentioned in #18

Thanks!

[2019-09-11 12:09] JustFly1984 commented on #219
Hello @janklimo we do not have certain plans. If you really need this, your PR is welcome.

[2019-09-15 15:30] JustFly1984 commented on #217
there is 1.7.5 released, please test

[2019-09-15 18:45] treetruth opened #223 "Marker component not showing icon?"
Hi, I'm migrating my code from `react-google-maps` package to this but when I wrap my `<Marker  position={ { lat: 37.772, lng: -122.214 } } />` component inside  `GoogleMap` component it's not showing marker icon?

[2019-09-15 20:14] JustFly1984 commented on #223
please create the minimal reproduction at codesandbox.com

[2019-09-15 21:17] treetruth commented on #223
@JustFly1984 Here is the [codesandbox](https://codesandbox.io/s/1461-fhe3n) link.

[2019-09-15 22:37] JustFly1984 commented on #223
I have played a bit, and have no time today

my version, maybe it will help you to go from here
https://codesandbox.io/s/1461-gryy6

[2019-09-16 13:11] treetruth commented on #223
@JustFly1984 I'm struggling with this problem, Could you help me in your free time?

[2019-09-16 14:18] JustFly1984 commented on #216
@FredyC @uriklar

[2019-09-16 16:51] colemars commented on #223
https://codesandbox.io/s/1461-oq3pp

[2019-09-16 17:38] treetruth commented on #223
@colemars Thank for the fix, but what are the things I'm missing?

[2019-09-17 14:27] AndyOGo commented on #70
@JustFly1984
hmh, I face the same issue migrating from original [`withscriptjs`](https://tomchentw.github.io/react-google-maps/#withscriptjs) HoC to `<LoadScript />`.
Originally this was supported, so may could this be considered a regresssion?

[2019-09-18 01:54] joaoreynolds opened #224 "Cannot apply animation to overlay view"
# Unable to apply animation to OverlayViews because of remounting

## Your Environment

os: mac

node --version: 10.13.0

react version: 16.9.0

webpack version: 4.39.2

@babel version: 7.5.5

@react-google-maps/api version: 1.7.5

## How does it behave?

![Sep-17-2019 19-25-08](https://user-images.githubusercontent.com/1928724/65096241-7f399700-d981-11e9-8553-752979da79b3.gif)

In this animated g

[2019-09-18 07:39] #223 closed

[2019-09-18 09:24] MagdaxMai opened #225 "Use custom React Component as Marker"
Is there a way to use my own react component as marker or the ability to place a custom component anywhere on the map I want?

[2019-09-18 11:41] uriklar commented on #225
Try OverlayView

[2019-09-18 11:41] #225 closed

[2019-09-18 12:39] JustFly1984 commented on #224
@uriklar @FredyC

[2019-09-18 13:18] FredyC commented on #224
I don't follow. Do you have some animation in place or are you just expecting smooth transition between two supplied points? I think that's out of the scope of the library.

[2019-09-18 13:58] seeseesky opened #226 "Map is gray and empty without setting zoom and center"
There will not be any content in the map if zoom or center is not set. Maybe it is better to add these two params in the "Getting Started" instead of just showing ```{...other props}```.

[2019-09-18 15:33] reinvanimschoot opened #227 "Property 'google' does not exist on type 'Window & typeof globalThis'"
# Please provide an explanation

## Your Environment

os: mac

react version: 16.9.0

webpack version: using create-react-app

@babel version: using create-react-app

@react-google-maps/api version: 1.7.5

## How is it behave?

I'm getting the error:

`Property 'google' does not exist on type 'Window & typeof globalThis'`

## How should it behave correctly?

So this is my component:

[code]

And I

[2019-09-18 15:42] reinvanimschoot commented on #227
When I try to do it as the docs suggest, I get the same error:

[code]

[2019-09-18 15:44] reinvanimschoot commented on #227
And when I try to circumvent the error by doing `new (window as any).google.maps.LatLngBounds();` I get back the following error:

`React Hook "React.useCallback" is called in function "renderMap" which is neither a React function component or a custom React Hook`

So I'm not sure if the docs are actually correct in this case

[2019-09-18 15:53] joaoreynolds commented on #224
So, google calculates the `top` and `left` positions, and updates them when the lat lng changes.

![image](https://user-images.githubusercontent.com/1928724/65164106-7389b700-d9f9-11e9-88b2-ba0c5589e3d7.png)

So a transition is all I've added. As I said, older versions of `react-google-maps` didn't remount dom elements whenever new props were passed down.

Actually, aside from not being able to an

[2019-09-18 17:59] FredyC commented on #227
You hack with "any" is good enough. The second error is because you are really breaking rules of hooks, you cannot have useCallback inside the renderMap 😆

[2019-09-18 17:59] FredyC commented on #224
Alright, in that case, it's more about https://github.com/JustFly1984/react-google-maps-api/issues/198#issuecomment-527888820.

@JustFly1984 Probably best to close that issue and track it in this which is more on the point.

[2019-09-18 21:01] JustFly1984 commented on #224
closing an issue in favor to #198
Don't really have time to dig in this week, but if somebody want to fix and PR, you are welcome, I'll merge and upload new version

[2019-09-18 21:01] #224 closed

[2019-09-18 22:23] JustFly1984 commented on #227
you can't use google object in component, before
[code]
done it's job.

I would recommend a wrapper component, which calls useLoadScript, and renders AssetMapPage conditionally, depends on` isLoaded === true`

[2019-09-18 22:25] JustFly1984 commented on #226
it is required props for google maps api. there is no possible to have default zoom and center.
Please PR your improvements to docs MD. Thank you for your contribution.

[2019-09-18 22:25] #226 closed

[2019-09-18 22:27] JustFly1984 commented on #227
@reinvanimschoot  if you provide a basic reproduction in codesandbox, we can help you to setup proper flow

[2019-09-18 22:28] JustFly1984 commented on #217
it does work in latest version. closing an issue

[2019-09-18 22:28] #217 closed

[2019-09-19 16:19] fbellagamba commented on #196
Facing the same issue. The workaround I found is to directly add the event listener to the "autocomplete" instance inside the onLoad event handler.

[code]

Hope it helps!

[2019-09-20 19:31] nggonzalez commented on #117
@JustFly1984 Is there an ETA on when instance persistence will be added to the lib?
I may be wrong, but from what I understand from Google's new billing policies, it seems that every component mount will trigger billing:

https://developers.google.com/maps/documentation/javascript/usage-and-billing

If calling `google.maps.Map()` counts as a map load, then this simplified build will drastically in

[2019-09-21 11:59] JustFly1984 commented on #117
@nggonzalez  Sorry, but if you need this functionality - you need to code it yourself and make a PR

This was not done, cos google maps API is closed source, and we can't reverse engineer it yet.

[2019-09-23 06:23] rostgoat commented on #226
@seeseesky could you please provide your code.. I cannot get it to work when applying those args and all I see is the grey box

[code]

![Screenshot from 2019-09-22 23-22-43](https://user-images.githubusercontent.com/22672124/65405063-f6ab6400-dd8f-11e9-81fc-fbbb430aa64b.png)

[2019-09-23 09:00] seeseesky commented on #226
[code]

[2019-09-25 03:12] joaoreynolds commented on #18
@JustFly1984 @uriklar  I'd like to take a crack at the OverlayView performance issues. But I don't have experience with `lerna` or `storybook`. I need some pointers on how to get started. I'm able to edit the storybook project and get it up and running, but what about making changes to `/react-google-maps-api/src/components/dom/OverlayView.tsx` - I'm not sure what to spin up so I can preview chang

[2019-09-25 06:59] uriklar commented on #18
Hi @joaoreynolds. Right now, the top issue preventing people from contributing is the lack of a good workflow for working on the library.
I can give you my workflow, but it's really terrible :-)
I think the solution needs to be setting up another package in the repo which will be a CRA app with typescript support. Then, this package could import directly from the react-google-maps-api folder inste

[2019-09-25 11:43] UltimateForm commented on #134
what's the status of this?

[2019-09-25 12:16] JustFly1984 commented on #134
PR is closed due to our plan to stick as close to bare Google Maps API as possible.

[2019-09-25 12:16] #134 closed

[2019-09-25 13:45] joaoreynolds commented on #18
I tried using npm link between `storybook` and `react-google-maps-api`, but that didn't seem to work. I'm comfortable setting up a CRA app. But what if we just changed the storybook project to import directly from the react-google-maps-api folder. It seems like a good place to do the development work. I suggest this because the storybook seems pretty empty right now, so I wonder what it's used for

[2019-09-25 14:51] JustFly1984 commented on #18
The problem is that storybook does not support typescript. You can’t import TD files from storybook.

The solution will be to create separate package react-google-maps-api-cra-example with typescript enabled. This way we could import TD files

Another way is to add typescript to react-google-maps-api-gatsby-example

[2019-09-25 14:58] joaoreynolds commented on #18
Ahh gotcha - okay I can create the cra example. I'll keep you updated if I have more questions.

[2019-09-27 21:31] zning opened #229 "How to fitBounds inside of onLoad??"
Firstly, thanks for rewriting the old unmaintained library, we really really appreciate this.

I understand that we could use map instance inside of onLoad callback, but I have some difficulties to make it works. So basically, I want the map to fitbounds some markers on the map.
What I did:
`onLoad={map => {
            const bounds = new window.google.maps.LatLngBounds();
            dataObjectAr

[2019-09-29 08:05] Eviwang opened #230 "how to click marker show infowindow?"
# Please provide an explanation

how to click marker show infowindow?
like this:
https://developers.google.com/maps/documentation/javascript/infowindows#open
## Your Environment
os: mac/linux/windows/android/ios
windows
node --version
latest
react version
v10.15.3
webpack version
latest
@babel version
latest
@react-google-maps/api version
latest
## How is it behave?

## How should it behave correc

[2019-10-02 00:32] iKeeko opened #232 "Marker change icon size"
Hi, I'm trying to change the size of the marker icon with the size property inside the icon prop of the Marker component.

I expected the outcome would be just the same as the previous version react-google-maps

scaledSize: new window.google.maps.Size(25, 25)

error:
TypeError: Cannot read property 'maps' of undefined

obviously that error is clear enough but I have no idea where to change this ic

[2019-10-03 14:24] jessepinho commented on #232
@iKeeko where are you passing `scaledSize`?

I'm dealing with this issue too, and not seeing anywhere in the docs that I can change the icon size.

[2019-10-03 14:57] jessepinho commented on #232
@iKeeko ah, I figured it out. You need to make a `google.maps.Icon` object and pass it to the marker's `icon` property. As you mentioned, `scaledSize` requires a `google.maps.Size` object, but `window.google` may not exist at the time you wish to create the icon object.

My solution to this was to use a state hook to keep track of when the Google Maps API had loaded:

[code]

Then, in the `LoadScr

[2019-10-03 16:01] zning commented on #232
import { GoogleMap,LoadScript, Marker, } from '@react-google-maps/api'
{data&&data.map(
            item => {
              return <Marker
               position={{
                 lat: item.lat,
                 lng: item.lng,
               }}
               icon={{
                 url:terminal,
                 scaledSize: new window.google.maps.Size(40,40),
                /** or scaledSize

[2019-10-03 16:02] zning commented on #232
import { GoogleMap,LoadScript, Marker, } from '@react-google-maps/api'
{data&&data.map(
            item => {
              return <Marker
               position={{
                 lat: item.lat,
                 lng: item.lng,
               }}
               icon={{
                 url:terminal,
                 scaledSize: new window.google.maps.Size(40,40),
                /** or scaledSize

[2019-10-03 16:07] zning commented on #229
figure it out myself. Case closed.

[2019-10-03 16:07] #229 closed

[2019-10-03 23:40] iKeeko commented on #232
Thank you. That did the trick. The old version react-google-maps do not require to do this that's why I was confused

[2019-10-03 23:40] #232 closed

[2019-10-04 06:01] saravanakumargn opened #233 "Autocomplete onPlaceChanged not triggering in examples"
After select, the place from AutoComplete don't see any console.log results. (onPlaceChanged  not triggering?)

https://react-google-maps-api-docs.netlify.com/?_sm_au_=i6HW871t6fDNDp64#autocomplete

[2019-10-04 10:16] JustFly1984 opened #234 "Investigate possible issue with MarkerClusterer update"
https://github.com/tomchentw/react-google-maps/issues/1009

Could it Affect  us?

[2019-10-05 20:52] #196 closed

[2019-10-05 20:56] #233 closed

[2019-10-05 21:00] uriklar commented on #230
https://spectrum.chat/react-google-maps/general/how-to-use-infowindow~d711efb9-62c2-4b87-a725-a0fcfc4c205b

[2019-10-05 21:00] #230 closed

[2019-10-07 18:53] subhendukundu opened #237 "How to get address from Marker onDragEnd?"
Hey there,

First of all, thanks for so easy to use the library.
I am trying to get the location address of the marked dropped or dragged to. How do I get the location of the marker dragged to? I figured to get the lat and lng using markerRef.current.position.lat(), markerRef.current.position.lng().
Is there a better way to get the location? With the address?

I could use `react-geocode` or someth

[2019-10-09 09:01] si4dev opened #238 "False performance warning about libraries"
I'm using a library with useLoadScript like this:

[code]
And on rerender it always shows: Performance warning! Loadscript has been reloaded unintentionally! You should not pass `libraries` prop as new array. Please keep an array of libraries as static class property for Components and PureComponents, or just a const variable outside of component, or somewhere in config files or ENV variables

I'v

[2019-10-09 09:14] si4dev commented on #238
Reading more on useEffect() and the hints in the warning learned me to define libraries outside the functional component like this:
`const libraries = ['places'];`

And then use this
[code]
which will prevent useEffect() from triggering each rerender. So with this my issues is solved.

[2019-10-09 09:14] #238 closed

[2019-10-11 12:58] JustFly1984 opened #239 "setup netlify.toml for monorepo"
https://www.netlify.com/blog/2019/10/09/launching-monorepo-support-for-netlify-sites/?utm_campaign=Netlify+Newsletter+-+October+2019&utm_content=Netlify+Newsletter+-+October+2019&utm_medium=email_action&utm_source=customer.io

[2019-10-11 13:00] JustFly1984 commented on #239
Currently we are deploying docs and gatsby-example to netlify on each commit to master, even if nothing has changed. this is new feature provided by netlify to escape redeploys when not needed

[2019-10-14 08:45] maxfi opened #240 "Map position re-centres when re-rendering"
This is possibly expected behaviour and if so can be avoided by wrapping the map component using `React.memo`. I found it counter intuitive though that only the centreing of the map is reset on a re-render but the rest of the map's state appears to remain the same.

## Your Environment

CodeSandbox `create-react-app` environment

react version: 16.8.6

@react-google-maps/api version: 1.7.7

## How

[2019-10-14 12:42] JustFly1984 commented on #240
@maxfi
please don't pass arrays and objects as props to components, it causes them to re-render

https://codesandbox.io/s/react-google-mapsapi-state-issue-zg7hp

[2019-10-14 15:14] banibanc opened #241 "Map not displayed"
# Please provide an explanation

The map is not shown and when I'm inspecting the source, the iframe's body is empty.
I've got no errors in console whatsoever.

## Your Environment

os: windows

node --10.16.3

react version 16.10.2

webpack version 4.41.10

@babel version

@react-google-maps/api version 1.7.7

## How is it behave?
Map not displayed without any error

## basic implementation of in

[2019-10-14 15:24] maxfi commented on #240
Oh. My bad! 😳 I wasn't aware of this. Thanks for your help @JustFly1984 and for the great package!

For anyone interested you can read more about this here in the section _2. Avoid inline objects_:

https://itnext.io/6-tips-for-better-react-performance-4329d12c126b

[2019-10-14 15:24] #240 closed

[2019-10-15 12:20] TkachovaAnna commented on #70
@AndyOGo  I face same problem. Have you found the way to fix this?

[2019-10-15 13:10] AndyOGo commented on #70
@TkachovaAnna
Yes I found a workaround by extending `LoadScript`, as suggested in this comment.
https://github.com/JustFly1984/react-google-maps-api/issues/159#issuecomment-502446663

IMHO, it's not ideal and `LoadScript` should be fixed 🤔

[code]

[2019-10-15 14:45] bitttttten commented on #241
I think I am in the same position?

This is my tree:

![Screenshot 2019-10-15 at 16 45 34](https://user-images.githubusercontent.com/19930241/66842269-3d454600-ef6b-11e9-86b1-fa0863bd8329.png)

[2019-10-15 14:50] JustFly1984 commented on #70
@AndyOGo @TkachovaAnna
You can have only one `<LoadScript />` per application. that the whole point. you can have as many `<GoogleMap />` components as children as you need. There could be only one instance of google-maps-api script, as it works as Singleton. Can't do nothing about it.

[2019-10-15 15:14] AndyOGo commented on #70
@JustFly1984 Thanks for your feedback. And thank you very much for your awesome work.

May I ask you kindly to have a look at the above workaround.
`LoadScript` could be a stateful React component, which guarantees that Google-Map's script is injected only once.

**Why we need this?**
Because we dynamically render a UI defined by and API, which can display GoogleMap components at random spots.

Pl

[2019-10-15 15:18] gson88 opened #244 "MapTypeId is not set from props if mapOptions is used"
# Please provide an explanation
props.mapTypeId on GoogleMap does not do any difference if props.mapOptions (without mapTypeId) is passed to the component.

## Your Environment
os:
mac

node --version
11.7

react version
16.8.6

webpack version
4.34

@babel version
7.4.5

@react-google-maps/api version
1.7.7

## How is it behave?
The map type on google maps is always set to "roadmap" if mapOptions

[2019-10-16 00:35] JustFly1984 commented on #70
so in your case it is better to use LoadScript as top component in component tree. If you want to make alternative LoadScript, you can create PR and I will merge it and release in next version.

[2019-10-16 07:17] TkachovaAnna commented on #70
@AndyOGo  Thank you, that helped!

[2019-10-16 07:56] AndyOGo commented on #70
@JustFly1984 Thanks for your quick response.
Though we won't use Google maps at each UI and all components can be arbitrarily nested.
So we want them to scoped together and not scattered at different places in the component tree.

Yeah, an alternative component is a nice idea too 👍

[2019-10-16 12:22] CasanaT commented on #241
I think you need to add styles to the Google map component. My map was white and not showing and added height and width to it and then it displayed.

` <GoogleMap
                  mapContainerStyle={{ height: '100%', width: '100%' }}
                  id="example-map"
                />`

[2019-10-16 12:35] banibanc commented on #241
Thanks for your answer !

[2019-10-16 12:35] #241 closed

[2019-10-18 16:16] samuelpucat opened #245 "infobox with cluster"
Hey,

I want to create custom infowindow (different styling than google IW) with support of clustering. I created InfoBox with custom style, put it into Marker and MarkerClusterer. Works good, until I dynamically add new custom infowindow, then it won't cluster itself. When I use classic InfoWindow, it works fine, but I don't want to hack styles of google components.

after adding new marker:
![im

[2019-10-18 21:19] samuelpucat commented on #245
I figured, I could call repaint() on clusterer in componentDidMount() after array changes but it only works in setTimeout()?

[2019-10-22 22:30] dogofpavlov commented on #245
I'm also having an issue that is very similar/related issue.

If a drag that Marker that is currently not clustered, into an area that has a cluster... the cluster doesnt seem to update. manually calling the repaint does seem to have fixed it

[2019-10-23 19:41] FatehAK opened #246 "Maps API not working on localhost"
# Explanation
I am trying to load the Maps API on localhost (specifically the Places API for the StandaloneSearchBox component) but it fails to load and gives me this error.

`This API key is not authorized to use this service or API. Places API error: ApiTargetBlockedMapError`

I've searched online and have added the following referrers in API restrictions too.
[code]
I even tried with a totally

[2019-10-23 19:44] FatehAK commented on #246
Works now just had to restart the server sigh..

[2019-10-23 19:44] #246 closed

[2019-10-25 15:08] FatehAK opened #247 "How to use Geocode API with this library?"
# Please provide an explanation
Just wanted to ask whether this library supports the Geocoder API?

[2019-10-25 22:59] zning opened #248 "Map in New Popup Window Bug (Drag event was decoupled between new window and the existing window )"
Could someone help with this issue please:
I'm using the react portal to pop up a new window(using Window.open()) to show google maps. Most events fires normally but not drag. When I trying to drag around the map inside the popup window, only the onDragStart fired, the onDrag and onDragEnd events were stoped until I click back to the main app window, these two event resumed... Weird behavior. Coul

[2019-10-25 23:08] JustFly1984 commented on #244
@gson88  Can you please provide minimal reproduction on codesandbox?

[2019-10-25 23:12] JustFly1984 commented on #247
Please ask your question in https://spectrum.chat/react-google-maps

[2019-10-25 23:12] #247 closed

[2019-10-27 16:31] gson88 commented on #244
@JustFly1984 I certainly can, sorry for not providing one from the beginning.
https://codesandbox.io/s/usegooglemap-repro-gyt0k

[2019-10-28 18:39] AonanLi commented on #213
Switching to this library from the old [react-google-maps](https://github.com/tomchentw/react-google-maps)

For the old library I had a hack for inserting JSX custom control to the map. With some minor changes, it still works for this library.

[code]

[code]

[Custom control issue from the old library](https://github.com/tomchentw/react-google-maps/issues/860)

Hope this solution helps

[2019-10-28 19:59] dogofpavlov commented on #237
I don't believe this library has anything for geocoding provided in it. That being said, the reason is probably because google's suggested way to do it is just using their API: https://developers.google.com/maps/documentation/geocoding/intro#geocoding. The library you linked to seems to do the same.

[2019-10-28 20:43] JustFly1984 commented on #237
exactly. If you have places loaded with `<LoadScript />`, google object is available to you, and you can use geocoding API https://developers.google.com/maps/documentation/geocoding/intro#geocoding

[2019-10-29 21:48] dogofpavlov commented on #244
I also just ran into this issue. But I was able to get around it by just always including "mapTypeId" into the mapOptions and stopped passing it into the map.

[2019-10-30 01:07] #244 closed

[2019-10-30 16:40] JustFly1984 commented on #248
@zning  Do you render <ScriptLoader /> in Window.open() or outside?

[2019-10-30 16:58] zning commented on #248
I try to create an example. but  it seems that  the codesandbox won't allow me due to some cross origin issue.

[2019-10-30 20:43] rvilgalys commented on #201
Tried to adjust this, but wasn't able to get a build on my clone.

Only change needed is to pass `{...this.props}` on the wrapping div to give the ability to style or add id / className, etc.

[2019-10-30 21:03] nspaeth opened #250 "Indicate required fields in documentation and via console"
# Please provide an explanation
The `GoogleMap` component requires both `zoom` and `center`, but this is isn't indicated in the documentation or via any error message. At least two issues have been created because these things are missing: #241 and #185. If it isn't already, these should also be required via typescript types.

I imagine there are other places that this is the case.

[2019-10-31 01:43] keita-makino opened #251 "How to get the current zoom level?"
# Please provide an explanation

I want to get the current zoom level but not sure how to achieve that.

## Your Environment

os: windows

node 10.16.3

react 16.10.2

webpack 4.41.0

@babel 7.6.2

@react-google-maps/api 1.7.7

## Code

[code]

## How is it behave?

Whenever the zoom level changed, the output in the console is 12.

## How should it behave correctly?

The output should be changed?

[2019-10-31 14:33] samuelpucat opened #254 "Infobox (and possibly other components) are badly extended"
Hi, I already mentioned this issue on spectrum:
https://spectrum.chat/react-google-maps/general/infobox-doesnt-react-to-options-change~fc8e01bd-3d2a-485c-880d-4a5002a13481
and provided a possible solutions, but I'm hesitant to create a PR, because I'm not sure about the solution and the thread seems to be ignored now. Maybe a creator of Infobox could decide what to do. thanks

[2019-10-31 15:49] gson88 commented on #244
@dogofpavlov Yeah that is possible.
The problem for us is that we don't have the global google-object when the mapOptions-object is created (we want to create the object outside of the component to prevent re-rendering).
We solved it by setting the mapType when the map had loaded instead.

[2019-10-31 23:41] JustFly1984 commented on #254
@samuelpucat
The thread is not ignored. All this incorrect extensions is legacy from original react-google-maps

If you want to try to fix it, your PR is welcome.

[2019-10-31 23:45] JustFly1984 commented on #251
there is no ref on <GoogleMap /> but there is onLoad prop calback function, which has an argument - instance to map.getZoom()

please look at examples.

[2019-11-01 17:58] keita-makino commented on #251
@JustFly1984
Thank you for your advice.
Did you mean `useGoogleMap` hooks [here](https://github.com/JustFly1984/react-google-maps-api/blob/master/packages/react-google-maps-api/src/GoogleMap.md)?
Is there an example to set the map instance on load using this?

[2019-11-01 18:19] zning commented on #248
Codesandbox not works due to the cross origin issue. So I created a testing repository here:
https://github.com/zning/map-testing
I'm also testing another package called '@googlemap-react/core'.
Please switch to the Map1 inside of the App.js to see the issue.
Thanks a lot for your help ~

[2019-11-01 18:41] JustFly1984 commented on #251
Example in read me and on npm package page

Also look docs
![DEF8A0C8-E766-4540-BD7A-DA1F112CA31D](https://user-images.githubusercontent.com/2255993/68047842-f20b9100-fce7-11e9-83ac-34451142ae6d.png)

[2019-11-01 18:53] JustFly1984 commented on #250
Both props required in typescript, and in docs both required

[2019-11-01 19:26] keita-makino commented on #251
@JustFly1984
Aw I meant the docs for `useGoogleMap`.
I found the usage of onLoad props, but am using react16.8+ so if it's more convenient I like to go for the option :)
But thank you.

[2019-11-01 21:22] JustFly1984 commented on #251
@keita-makino well, this `useGoogleMap` is kind of new stuff, and we are going to refactor whole library to react hooks. If you want, you can look at source code, and add docs and examples. We are looking for contributors.

[2019-11-03 20:48] JustFly1984 opened #255 "Docs are broken due to conflict acorn@6.3.0 and @7 in react-styleguidist"
link to the issue
https://github.com/styleguidist/react-styleguidist/issues/1321#issuecomment-549135648

possible we need to change solution for docs

[2019-11-05 09:09] jeancallisti opened #256 "Most common issue for beginners : "Can't resolve...""
**react@16.10.2**

I just installed your package freshly using npm :
`npm i -S @react-google-maps/api`

Finally at the top of my would-be React component there is :
`import { GoogleMap } from "react-google-maps/api";`

And yet in the terminal window where my app gets compiled, there's the message
`Module not found: Can't resolve 'react-google-maps/api' in '.......'`
Yet the autocomplete tells me t

[2019-11-05 09:15] jeancallisti commented on #256
I just installed your package freshly using npm :
`npm i -S @react-google-maps/api`

then I added this in modules.d.ts :
`declare module "react-google-maps/api";`

Finally at the top of my would-be React component there is :
`import { GoogleMap } from "react-google-maps/api";`

And yet in the terminal window where my app gets compiled, there's the message
`Module not found: Can't resolve 'react-go

[2019-11-05 09:45] jeancallisti commented on #256
SOLUTION:
`import { GoogleMap } from "**@**react-google-maps/api";`

The @ was needed.

[2019-11-05 18:12] CodeWitchBella opened #257 "Typescript type for OverlayView position is wrong"
# Please provide an explanation

## Your Environment

@react-google-maps/api version ^1.7.8

## How is it behave?

Typescript type for OverlayView position is wrong. It is specified to be `google.maps.LatLng` but should be `google.maps.LatLng | google.maps.LatLngLiteral`. This means that while this prop accepts { lat: ..., lng: ... } as position at runtime it cannot be used with typescript.

## Ho

[2019-11-05 18:13] CodeWitchBella opened #258 "Typescript type for OverlayView position is wrong"
# Please provide an explanation

## Your Environment

@react-google-maps/api version ^1.7.8

## How is it behave?

Typescript type for OverlayView position is wrong. It is specified to be `google.maps.LatLng` but should be `google.maps.LatLng | google.maps.LatLngLiteral`. This means that while this prop accepts { lat: ..., lng: ... } as position at runtime it cannot be used with typescript.

## Ho

[2019-11-05 18:13] CodeWitchBella commented on #258
Sorry for duplicate. GitHub is showing error 500 on issue submit

[2019-11-05 18:13] CodeWitchBella commented on #258
Sorry for duplicate. GitHub is showing error 500 on issue submit

[2019-11-05 18:37] JustFly1984 commented on #257
@CodeWitchBella can you please provide a PR? I will merge and publish next version

[2019-11-05 18:39] JustFly1984 commented on #257
@CodeWitchBella or at least provide a minimal reproduction in codesandbox.com

[2019-11-06 17:13] #257 closed

[2019-11-06 19:29] keita-makino commented on #251
@JustFly1984
Understood, thanks.
I did my work done with the old-fashion style but if any chance I like to contribute for the new approach :)

[2019-11-07 01:21] JustFly1984 commented on #251
@keita-makino you can look source. Also I have PR with attempt to refactor @react-google-maps/api to hooks. You can jump in and contribute.

[2019-11-07 17:33] kpascascio commented on #255
[GitBook](https://www.gitbook.com/) is a good solution, there is also a [mdx](https://mdxjs.com/) plugin so you can add in React components like in the initial docs

[2019-11-07 18:20] JustFly1984 commented on #255
@uriklar what do you think?

[2019-11-11 21:15] #256 closed

[2019-11-11 21:16] JustFly1984 commented on #254
published in 1.7.10

[2019-11-12 08:46] samuelpucat commented on #254
@JustFly1984 thank you for a quick merge, however, after updating npm package to 1.7.10, I don't see the change in node modules. Did you publish @react-google-maps/infobox too?

[2019-11-13 15:37] coulson84 opened #262 "When offline not all calls to useLoadScript resolve correctly"
If there are multiple calls to useLoadScript when an app is offline (or, presumably, if some other area caused the google maps script to error) then only the first call to useLoadScript has its state correctly updated to show that there is an error. All the ones after this fail to be updated correctly.

[2019-11-13 15:38] coulson84 commented on #262
Have added a PR to fix this issue already but thought I would raise it as in issue for visibility
https://github.com/JustFly1984/react-google-maps-api/pull/261

[2019-11-13 17:35] subhendukundu opened #263 "react-select is braking when I am using @react-google-maps/api"
# Please provide an explanation
https://i.stack.imgur.com/clrkJ.png
When I am using `@react-google-maps braking` the ui for `react-select`.
## Your Environment
[code]
webpack version => using create-react-app

@babel version => using create-react-app

@react-google-maps/api version 1.7.10

## How is it behave?
https://i.stack.imgur.com/clrkJ.png
Braking css
## How should it behave correctly?
https

[2019-11-14 00:22] JustFly1984 commented on #263
your code is pretty messy. try to use typescript, it should help.

[2019-11-14 00:22] JustFly1984 commented on #262
published 1.7.11

[2019-11-14 00:22] #262 closed

[2019-11-14 00:23] JustFly1984 commented on #254
@samuelpucat sorry missed that, now should work, released 1.7.11

[2019-11-19 03:27] JustFly1984 commented on #254
@samuelpucat please confirm

[2019-11-19 04:07] joshuascott opened #265 "Improper warning related to libraries prop inside of useLoadScript hook"
In this call to the useLoadScript hook:
[code]

**The browser shows a warning:**
Performance warning! Loadscript has been reloaded unintentionally! You should not pass `libraries` prop as new array. Please keep an array of libraries as static class property for Components and PureComponents, or just a const variable outside of component, or somewhere in config files or ENV variables

Given that we

[2019-11-19 07:16] samuelpucat commented on #254
@JustFly1984 it's working, we can close this

[2019-11-19 10:02] osphost commented on #47
Also experiencing this, seems to happen when nextjs hot reloads in development mode.

[2019-11-20 02:06] #254 closed

[2019-11-20 02:12] JustFly1984 commented on #265
you need to save `(process.env.REACT_APP_GOOGLE_LIBS || '').split(',')` into const outside of component scope, and pass it to libraries.

[2019-11-20 02:12] #265 closed

[2019-11-20 08:20] bitttttten opened #266 "How to get `LatLngBounds`?"
I am looking at to fit a map within some bounds. Usually, you can do it like so:

[code]

I have looked through the docs for an example like this but I came up short. What's the "@react-google-maps/api" way to do this?

[2019-11-21 12:40] liamcmitchell-sc commented on #160
I got bitten by this too. This condition here matches the style elements created by emotion:
https://github.com/JustFly1984/react-google-maps-api/blob/0f58a8cf2dbe22bbcb9a0f0758472d671ddcdbfd/packages/react-google-maps-api/src/utils/prevent-google-fonts.ts#L33-L41

This way of blocking fonts is hacky. Noone wants to track down bugs to find that a library is overriding DOM methods. Please document

[2019-11-21 12:53] liamcmitchell-sc commented on #70
Can you document this?

[2019-11-21 14:58] kpascascio commented on #255
I would be open to helping migrate if needed, just let me know 😄

[2019-11-22 01:01] JustFly1984 commented on #255
@kpascascio sure, tell me if you need something.

[2019-11-22 01:03] JustFly1984 commented on #70
@liamcmitchell-sc PR is welcome

[2019-11-22 01:29] JustFly1984 commented on #160
@liamcmitchell-sc your PR is welcome

[2019-11-22 01:51] lluisrojass commented on #266
Functionality not directly related to rendering objects related to a map instance would flow through the lib as you are doing now. This lib doesn't expose any helpers, and seems to take an opinionated stance against exposing any internals. Even onLoad hooks only give you formal g-maps objects.

[2019-11-23 16:52] JustFly1984 commented on #263
please cleanup your code in example

[2019-11-24 00:45] JustFly1984 commented on #255
@kpascascio I think we need to consider switch to Docusaurus
https://docusaurus.io/ as an option
https://twitter.com/dai_shi/status/1197816235058069504

[2019-11-25 08:10] markstuck opened #276 "Polyline not redrawing"
# Please provide an explanation

I have MapComponent component with following code:

https://jsfiddle.net/1z0bdrva/

And Polyline component:

https://jsfiddle.net/Lqy2nf4d/

## Your Environment

os: windows

node: 8.11

react version: 16.12.0

webpack version: 4.41.2

@babel version: 7.7.4

@react-google-maps/api version: 1.7.12

## How is it behave?

If i create marker by click on the map, polyli

[2019-11-25 17:17] coulson84 opened #282 "After a script load error when using useLoadScript it is not possible to load any maps on the page"
This is another quite specific offline issue that we have found when testing our offline functionality in our app. There is a workaround for it at the moment that can be achieved by passing in an ID for the script but I know that this is something (the passing of the ID) that has been talked about being removed when it comes to the next major version.

Essentially the problem is that when a script

[2019-11-25 18:22] JustFly1984 commented on #282
@coulson84 I agree with you. Your PR is welcome.

[2019-11-26 06:43] markstuck commented on #276
Ohh.. sry, problem was not in react-google-maps-api, i starting used mobx, and im sloved this problem.
Thx for that useful lib!

[2019-11-26 06:43] #276 closed

[2019-11-26 08:20] AlexOros opened #288 "InfowWindow overwrited styles messed up"
Hello I am using @react-google-maps/api and it's awesome, but I ran in the following problem:
I have multiple map instances on multiple pages (works well, no more "included multiple times" errors ) and when I unmounted the first map instance the InfoWindow component (for which I have overwritten some styles) is back to default CSS settings. The overwritten CSS classes don't apply anymore. Here is

[2019-11-26 09:55] bitttttten commented on #266
Yeah, so sadly it doesn't look like it's easily possible. Especially when trying to keep your UI declarative.

[2019-11-26 11:55] JustFly1984 commented on #288
@AlexOros  yeah, we are cleaning up all <style> tags with .gm_style classes

can't give you advice on how to workaround now

[2019-11-26 16:06] bitttttten commented on #266
I ended up just using the literal.

[code]

[2019-11-26 16:06] #266 closed

[2019-11-27 20:34] zwarmapapa opened #295 "global.reactDom not found (it should be global.ReactDOM?)"
We use the UMD version of the library.

It accesses ReactDOM with global.reactDom (like window.reactDom), which is not defined.

It should be global.ReactDOM, as window.ReactDOM is defined.

In file /react-google-maps--api/dist/reactgooglemapsapi.umd.development.js it's found on line 4 as "global.reactDom".

In file /react-google-maps--api/dist/reactgooglemapsapi.umd.production.min.js it's found o

[2019-11-27 20:35] zwarmapapa commented on #295
Here, on line 15, it can be seen that the variable that ReactDOM defines is global.ReactDOM (window.ReactDOM): https://unpkg.com/browse/react-dom@16.12.0/umd/react-dom.development.js

[2019-11-27 21:09] lluisrojass commented on #282
@coulson84 @JustFly1984 why not just extend the functionality of the data attribute already on the  script ?

extract the script setup process to a separate function, add an error handler

[code]

[2019-11-28 00:43] JustFly1984 commented on #295
@zwarmapapa we are using tsdx to build umd. Could be an issue with build tool. can't really tell what is an issue, co I'm not using umd myself. your PR is welcome

[2019-11-28 03:28] JustFly1984 commented on #282
@lluisrojass your PR is welcome

[2019-11-28 09:01] dobrea-v opened #301 "Standalone search box, getPlaces method"
# Please provide an explanation
In Google Maps Places API, there is [note](https://developers.google.com/places/web-service/details#fields) that you can specify 'fields' query parameters to get less data in response, thus getting billed less. Is there a way to specify this parameters?

## How is it behave?
By default Google Places getPlaces method returns all fields.

## How should it behave corre

[2019-11-28 21:19] zwarmapapa commented on #295
Ah I see. I think tsdx tries to guess the correct global variable from how it's used in the code. Maybe it's failing because the code does this:

`import { createPortal } from "react-dom"`

Instead of this:

`import * as ReactDOM from "react-dom"`

I've tested it out and indeed, that change fixed it. I'll make a PR.

[2019-11-28 21:25] zwarmapapa commented on #295
Made a PR (on my other account) here: https://github.com/JustFly1984/react-google-maps-api/pull/302#issue-346836229

[2019-11-28 22:50] JustFly1984 commented on #295
@zwarmapapa  published 1.7.13 please test

[2019-11-28 23:06] JustFly1984 commented on #295
@zwarmapapa thank you for contribution

[2019-11-28 23:06] zwarmapapa commented on #295
Great it worked! It uses global.ReactDOM now which is correct. Thanks for the quick update.

[2019-11-28 23:06] #295 closed

[2019-11-29 12:46] gtherond commented on #255
Docusaurus is awesome and that would greatly help us new comer to integrate the library correctly and see if the component that we're using is really the one we're looking for at glance and not having to implement it before noticing that nope it's definitely not the correct component, like for infoBox and InfoWindow for instance ^^

[2019-11-29 12:54] #282 closed

[2019-11-30 08:52] JustFly1984 commented on #282
released in 1.7.14

[2019-12-02 20:16] lnorton89 opened #311 "renderMap Being Executed Multiples Times"
## Your Environment

os: Windows 10

node v12.13.1

react 16.12.0

webpack latest cra

@babel latest cra

@react-google-maps/api 1.7.14

## How is it behave?
renderMap() fires 4 times before the page is actually done loading.

## How should it behave correctly?
renderMap() should only fire when the page is loaded and 'google' / mapRef is available.

This is the example I'm working from: https://co